In [82]:
import pandas as pd
import numpy as np
import os
import time
import logging

In [2]:
# Configure logger
logging.basicConfig(
    level = logging.INFO,
    format = "%(asctime)s - %(levelname)s - %(message)s",
    handlers = [
        logging.StreamHandler(),
        logging.FileHandler("pipeline.log", mode = "a")
    ]
)
logger = logging.getLogger(__name__)

In [147]:
def data_wrangler(
    path_to_dataset, 
    drop_threshold = 0.7, 
    impute_categoricals = True, 
    impute_numericals="median", 
    feature_engineering = True, 
    rare_provider_threshold = 500
):
    """
    Load, clean, and preprocess raw tabular datasets into a standardized pandas DataFrame.

    This function acts as an entry-point for data ingestion and wrangling.
    It automatically detects the dataset type from the file extension 
    (CSV, Excel, Parquet, JSON) and applies consistent preprocessing steps 
    to ensure the data is ready for downstream modeling.

    The wrangling process includes:
        - Loading the dataset from supported formats (.csv, .xlsx, .xls, .parquet, .json).
        - Handle duplicates
        - Handling missing values:
            * Drop features with >= drop_threshold missingness
            * Optionally impute categorical features with 'missing' and '-1' for card features

    Parameters
    ----------
    path_to_dataset : str
        Path to the dataset file (CSV, Excel, Parquet, or JSON).
    drop_threshold : float, default=0.7
        Threshold (0â€“1) for dropping columns with high missingness.
    impute_categoricals : bool, default=True
        If True, imputes categorical missing values with "missing".
    impute_numericals : str, optional
        Strategy for imputing numerical values. Options: 'mean', 'median'. Default is 'median'.
    feature_engineering : bool, optional
        Whether to engineer new fraud-related features. Default is True.
    rare_provider_threshold : int, optional
        Frequency threshold below which providers are grouped into "rare". Default is 500.

    Returns
    -------
    pandas.DataFrame
        A cleaned and preprocessed DataFrame ready for exploratory data analysis (EDA) 
        or model training.

    Raises
    ------
    FileNotFoundError
        If the provided file path does not exist.
    ValueError
        If the file extension is unsupported.
    RuntimeError
        If there is an error during file loading or preprocessing.
    """

    # load dataset
    start_time = time.perf_counter()
    
    if not os.path.exists(path_to_dataset):
        raise FileNotFoundError(f"File not found: {path_to_dataset}")

    ext = os.path.splitext(path_to_dataset)[1].lower()

    loaders = {
        ".csv": pd.read_csv,
        ".xlsx": pd.read_excel,
        ".xls": pd.read_excel,
        ".parquet": pd.read_parquet,
        ".json": pd.read_json,
    }

    if ext not in loaders:
        raise ValueError(f"Unsupported file type: {ext}. Supported types: {list(loaders.keys())}")

    try:
        # load dataset
        dataset = loaders[ext](path_to_dataset)
        logger.info(f"[OK] Loaded {path_to_dataset} | Shape: {dataset.shape} | Load time: {(time.perf_counter() - start_time):.2f} sec")

        # check for duplicates and fix them
        if dataset.shape[0] == dataset['TransactionID'].nunique():
            print('No duplicates found in dataset')
        else:
            print(f"{dataset['TransactionID'].duplicated().sum()} duplicates found!")
            dataset = dataset.drop_duplicates(subset=['TransactionID'], keep='first')

        # check for missing values
        missing = dataset.isna().mean()
        missing = missing[missing > 0].sort_values(ascending = False)

        if not missing.empty:
            logger.info("Features with missing values:")
            for col, val in missing.items():
                logger.info(f"{col}: ({val:.2%}) missing")

            # drop features above threshold
            to_drop = missing[missing >= drop_threshold].index
            if len(to_drop) > 0:
                dataset.drop(columns = to_drop,axis = 1, inplace = True)
                logger.info(f"Dropped {len(to_drop)} feature(s) due to >={drop_threshold:.0%} missing values: {list(to_drop)}")

            # impute categorical variables if enabled
            if impute_categoricals:
                categorical_cols = dataset.select_dtypes(include=['object', 'category']).columns
                for col in categorical_cols:
                    if dataset[col].isna().any():
                        dataset[col].fillna('missing', inplace = True)
                        logger.info(f"Imputed missing values in categorical feature '{col}' with 'missing'")
                        
                # impute missing values in card and address features with -1
                for col in ['card1', 'card2', 'card3', 'card5', 'addr1', 'addr2']:
                    if dataset[col].isna().any():
                        dataset[col].fillna(-1, inplace = True)
                        logger.info(f"Imputed missing values in card categorical feature '{col}' with '-1'")

            # imput numerical
            if impute_numericals is not None:
                num_cols = dataset.select_dtypes(include = 'number').columns
                for col in num_cols:
                    if dataset[col].isna().sum() > 0:
                        if impute_numericals == 'mean':
                            fill_value = dataset[col].mean()
                        elif impute_numericals == 'median':
                            fill_value = dataset[col].median()
                        else:
                            raise ValueError("Invalid value for impute_numericals. Use 'mean', 'median', or None.")
                        dataset[col] = dataset[col].fillna(fill_value)
                        logger.info("Imputed missing numerical values in '%s' with %s", col, impute_numericals)
        else:
            logger.info("No missing values found!")

        # round all amounts to 2 d.p.
        dataset.TransactionAmt = dataset.TransactionAmt.round(2)
        logger.info("Rounded all amounts to 2 d.p.")


        # --------------------------- Feature Engineering --------------------------------
        if feature_engineering:
            logger.info("Starting feature engineering...")
        
            new_features = pd.DataFrame(index=dataset.index)  # placeholder to collect new cols
        
            # --- composite variable from address (billing_address)
            if "addr1" in dataset.columns and "addr2" in dataset.columns:
                new_features["billing_address"] = dataset["addr1"].astype(str) + "_" + dataset["addr2"].astype(str)
                logger.info("Created `billing_address` feature by combining the address features")
        
            # --- email domain features
            if "P_emaildomain" in dataset.columns:
                new_features["provider"] = dataset["P_emaildomain"].apply(
                    lambda x: x.split(".")[0] if x != "missing" else "missing"
                )
                new_features["suffix"] = dataset["P_emaildomain"].apply(
                    lambda x: x.split(".")[-1] if x != "missing" else "missing"
                )
        
                # bucket rare providers
                provider_counts = new_features["provider"].value_counts()
                new_features["provider_bucket"] = new_features["provider"].apply(
                    lambda x: x if provider_counts[x] >= rare_provider_threshold else "rare"
                )
        
            # --- add all engineered features in one shot
            dataset = pd.concat([dataset, new_features], axis=1)
        
            # --- fraud bucket per domain (depends on isFraud column)
            if "P_emaildomain" in dataset.columns and "isFraud" in dataset.columns:
                fraud_stats = dataset.groupby("P_emaildomain")["isFraud"].agg(["mean", "count"]).reset_index()
                fraud_stats["fraud_bucket"] = pd.cut(
                    fraud_stats["mean"],
                    bins=[-1, 0.03, 0.10, 1],
                    labels=["low", "medium", "high"]
                ).astype(str)
        
                dataset = dataset.merge(
                    fraud_stats[["P_emaildomain", "fraud_bucket"]],
                    on="P_emaildomain",
                    how="left"
                )
                logger.info("Fraud bucket feature added.")
                
            dataset = dataset.drop(columns=["P_emaildomain"])
            logger.info("Dropped original `P_emaildomain` feature after engineering.")
            
            logger.info("Feature engineering completed.")


        elapsed = time.perf_counter() - start_time
        logger.info(f"Data wrangling completed | Final shape: {dataset.shape} | Time: {elapsed:.2f}s")
        
        return dataset
    except Exception as e:
        raise RuntimeError(f"Failed to load {path_to_dataset}: {e}")

In [38]:
# --- Fraud rate per domain ---
fraud_stats = df.groupby('P_emaildomain')['isFraud'].agg(['mean','count']).reset_index()
fraud_stats

def fraud_bucket(row):
    if row['count'] < 100:
        return 'rare'
    elif row['mean'] >= 0.10:
        return 'high'
    elif row['mean'] >= 0.03:
        return 'medium'
    else:
        return 'low'

fraud_stats['fraud_bucket'] = fraud_stats.apply(fraud_bucket, axis=1)

False

In [139]:
df.groupby('P_emaildomain')['isFraud'].agg(['mean','count']).reset_index()

       P_emaildomain      mean   count
0            aim.com  0.126984     315
1      anonymous.com  0.023217   36998
2            aol.com  0.021811   28289
3            att.net  0.007439    4033
4      bellsouth.net  0.027763    1909
5       cableone.net  0.018868     159
6    centurylink.net  0.000000     205
7         cfl.rr.com  0.000000     172
8        charter.net  0.030637     816
9        comcast.net  0.031187    7888
10           cox.net  0.020818    1393
11     earthlink.net  0.021401     514
12    embarqmail.com  0.034615     260
13      frontier.com  0.028571     280
14   frontiernet.net  0.025641     195
15             gmail  0.022177     496
16         gmail.com  0.043542  228355
17            gmx.de  0.000000     149
18     hotmail.co.uk  0.000000     112
19       hotmail.com  0.052950   45250
20        hotmail.de  0.000000      43
21        hotmail.es  0.065574     305
22        hotmail.fr  0.000000     295
23        icloud.com  0.031434    6267
24          juno.com  0.018634     322
25          live.com  0.027622    3041
26       live.com.mx  0.054740     749
27           live.fr  0.000000      56
28           mac.com  0.032110     436
29          mail.com  0.189624     559
30            me.com  0.017740    1522
31           missing  0.029538   94456
32           msn.com  0.021994    4092
33       netzero.com  0.000000     230
34       netzero.net  0.005102     196
35     optonline.net  0.016815    1011
36       outlook.com  0.094584    5096
37        outlook.es  0.130137     438
38    prodigy.net.mx  0.004831     207
39    protonmail.com  0.407895      76
40           ptd.net  0.000000      68
41             q.com  0.000000     189
42    roadrunner.com  0.009836     305
43    rocketmail.com  0.003012     664
44     sbcglobal.net  0.004040    2970
45         sc.rr.com  0.006098     164
46  servicios-ta.com  0.000000      35
47    suddenlink.net  0.022857     175
48           twc.com  0.000000     230
49       verizon.net  0.008133    2705
50            web.de  0.000000     240
51    windstream.net  0.000000     305
52       yahoo.co.jp  0.000000      32
53       yahoo.co.uk  0.000000      49
54         yahoo.com  0.022757  100934
55      yahoo.com.mx  0.010369    1543
56          yahoo.de  0.000000      74
57          yahoo.es  0.014925     134
58          yahoo.fr  0.034965     143
59         ymail.com  0.020868    2396

In [146]:
df = data_wrangler("dataset/train_transaction.csv")

2025-10-01 00:31:28,695 - INFO - [OK] Loaded dataset/train_transaction.csv | Shape: (590540, 394) | Load time: 10.64 sec

No duplicates found in dataset

2025-10-01 00:31:29,124 - INFO - Features with missing values:
2025-10-01 00:31:29,124 - INFO - dist2: (93.63%) missing
2025-10-01 00:31:29,125 - INFO - D7: (93.41%) missing
2025-10-01 00:31:29,125 - INFO - D13: (89.51%) missing
2025-10-01 00:31:29,125 - INFO - D14: (89.47%) missing
2025-10-01 00:31:29,126 - INFO - D12: (89.04%) missing
2025-10-01 00:31:29,128 - INFO - D6: (87.61%) missing
2025-10-01 00:31:29,128 - INFO - D8: (87.31%) missing
2025-10-01 00:31:29,129 - INFO - D9: (87.31%) missing
2025-10-01 00:31:29,130 - INFO - V156: (86.12%) missing
2025-10-01 00:31:29,130 - INFO - V139: (86.12%) missing
2025-10-01 00:31:29,130 - INFO - V138: (86.12%) missing
2025-10-01 00:31:29,131 - INFO - V141: (86.12%) missing
2025-10-01 00:31:29,132 - INFO - V146: (86.12%) missing
2025-10-01 00:31:29,132 - INFO - V147: (86.12%) missing
2025-10-01 00:31:29,133 - INFO - V142: (86.12%) missing
2025-10-01 00:31:29,133 - INFO - V149: (86.12%) missing
2025-10-01 00:31:29,134 - INFO - V140: (86.12%) missing
2025-10-01 00:31:29,134 - INFO - V153: (86.12%) missing
2025-10-01 00:31:29,135 - INFO - V154: (86.12%) missing
2025-10-01 00:31:29,135 - INFO - V158: (86.12%) missing
2025-10-01 00:31:29,136 - INFO - V163: (86.12%) missing
2025-10-01 00:31:29,137 - INFO - V148: (86.12%) missing
2025-10-01 00:31:29,137 - INFO - V155: (86.12%) missing
2025-10-01 00:31:29,137 - INFO - V161: (86.12%) missing
2025-10-01 00:31:29,138 - INFO - V162: (86.12%) missing
2025-10-01 00:31:29,139 - INFO - V157: (86.12%) missing
2025-10-01 00:31:29,139 - INFO - V160: (86.12%) missing
2025-10-01 00:31:29,139 - INFO - V159: (86.12%) missing
2025-10-01 00:31:29,140 - INFO - V165: (86.12%) missing
2025-10-01 00:31:29,141 - INFO - V164: (86.12%) missing
2025-10-01 00:31:29,141 - INFO - V166: (86.12%) missing
2025-10-01 00:31:29,141 - INFO - V143: (86.12%) missing
2025-10-01 00:31:29,142 - INFO - V151: (86.12%) missing
2025-10-01 00:31:29,143 - INFO - V150: (86.12%) missing
2025-10-01 00:31:29,143 - INFO - V152: (86.12%) missing
2025-10-01 00:31:29,143 - INFO - V144: (86.12%) missing
2025-10-01 00:31:29,144 - INFO - V145: (86.12%) missing
2025-10-01 00:31:29,144 - INFO - V334: (86.05%) missing
2025-10-01 00:31:29,145 - INFO - V335: (86.05%) missing
2025-10-01 00:31:29,145 - INFO - V339: (86.05%) missing
2025-10-01 00:31:29,146 - INFO - V332: (86.05%) missing
2025-10-01 00:31:29,146 - INFO - V331: (86.05%) missing
2025-10-01 00:31:29,146 - INFO - V333: (86.05%) missing
2025-10-01 00:31:29,147 - INFO - V336: (86.05%) missing
2025-10-01 00:31:29,147 - INFO - V329: (86.05%) missing
2025-10-01 00:31:29,148 - INFO - V324: (86.05%) missing
2025-10-01 00:31:29,148 - INFO - V337: (86.05%) missing
2025-10-01 00:31:29,148 - INFO - V338: (86.05%) missing
2025-10-01 00:31:29,148 - INFO - V323: (86.05%) missing
2025-10-01 00:31:29,150 - INFO - V326: (86.05%) missing
2025-10-01 00:31:29,150 - INFO - V327: (86.05%) missing
2025-10-01 00:31:29,151 - INFO - V328: (86.05%) missing
2025-10-01 00:31:29,151 - INFO - V322: (86.05%) missing
2025-10-01 00:31:29,152 - INFO - V330: (86.05%) missing
2025-10-01 00:31:29,152 - INFO - V325: (86.05%) missing
2025-10-01 00:31:29,153 - INFO - V253: (77.91%) missing
2025-10-01 00:31:29,153 - INFO - V273: (77.91%) missing
2025-10-01 00:31:29,153 - INFO - V275: (77.91%) missing
2025-10-01 00:31:29,154 - INFO - V247: (77.91%) missing
2025-10-01 00:31:29,154 - INFO - V246: (77.91%) missing
2025-10-01 00:31:29,155 - INFO - V274: (77.91%) missing
2025-10-01 00:31:29,155 - INFO - V269: (77.91%) missing
2025-10-01 00:31:29,155 - INFO - V276: (77.91%) missing
2025-10-01 00:31:29,156 - INFO - V277: (77.91%) missing
2025-10-01 00:31:29,156 - INFO - V240: (77.91%) missing
2025-10-01 00:31:29,156 - INFO - V241: (77.91%) missing
2025-10-01 00:31:29,156 - INFO - V236: (77.91%) missing
2025-10-01 00:31:29,157 - INFO - V237: (77.91%) missing
2025-10-01 00:31:29,157 - INFO - V248: (77.91%) missing
2025-10-01 00:31:29,157 - INFO - V249: (77.91%) missing
2025-10-01 00:31:29,158 - INFO - V244: (77.91%) missing
2025-10-01 00:31:29,158 - INFO - V258: (77.91%) missing
2025-10-01 00:31:29,158 - INFO - V233: (77.91%) missing
2025-10-01 00:31:29,159 - INFO - V228: (77.91%) missing
2025-10-01 00:31:29,159 - INFO - V229: (77.91%) missing
2025-10-01 00:31:29,159 - INFO - V230: (77.91%) missing
2025-10-01 00:31:29,159 - INFO - V243: (77.91%) missing
2025-10-01 00:31:29,160 - INFO - V242: (77.91%) missing
2025-10-01 00:31:29,160 - INFO - V218: (77.91%) missing
2025-10-01 00:31:29,160 - INFO - V217: (77.91%) missing
2025-10-01 00:31:29,161 - INFO - V225: (77.91%) missing
2025-10-01 00:31:29,161 - INFO - V226: (77.91%) missing
2025-10-01 00:31:29,161 - INFO - V223: (77.91%) missing
2025-10-01 00:31:29,162 - INFO - V224: (77.91%) missing
2025-10-01 00:31:29,162 - INFO - V219: (77.91%) missing
2025-10-01 00:31:29,162 - INFO - V252: (77.91%) missing
2025-10-01 00:31:29,163 - INFO - V257: (77.91%) missing
2025-10-01 00:31:29,163 - INFO - V254: (77.91%) missing
2025-10-01 00:31:29,164 - INFO - V266: (77.91%) missing
2025-10-01 00:31:29,164 - INFO - V267: (77.91%) missing
2025-10-01 00:31:29,164 - INFO - V265: (77.91%) missing
2025-10-01 00:31:29,165 - INFO - V264: (77.91%) missing
2025-10-01 00:31:29,165 - INFO - V262: (77.91%) missing
2025-10-01 00:31:29,165 - INFO - V263: (77.91%) missing
2025-10-01 00:31:29,166 - INFO - V268: (77.91%) missing
2025-10-01 00:31:29,166 - INFO - V278: (77.91%) missing
2025-10-01 00:31:29,166 - INFO - V231: (77.91%) missing
2025-10-01 00:31:29,167 - INFO - V235: (77.91%) missing
2025-10-01 00:31:29,167 - INFO - V232: (77.91%) missing
2025-10-01 00:31:29,167 - INFO - V261: (77.91%) missing
2025-10-01 00:31:29,168 - INFO - V260: (77.91%) missing
2025-10-01 00:31:29,168 - INFO - R_emaildomain: (76.75%) missing
2025-10-01 00:31:29,168 - INFO - V211: (76.36%) missing
2025-10-01 00:31:29,169 - INFO - V205: (76.36%) missing
2025-10-01 00:31:29,169 - INFO - V196: (76.36%) missing
2025-10-01 00:31:29,169 - INFO - V215: (76.36%) missing
2025-10-01 00:31:29,170 - INFO - V214: (76.36%) missing
2025-10-01 00:31:29,170 - INFO - V213: (76.36%) missing
2025-10-01 00:31:29,170 - INFO - V216: (76.36%) missing
2025-10-01 00:31:29,170 - INFO - V212: (76.36%) missing
2025-10-01 00:31:29,171 - INFO - V206: (76.36%) missing
2025-10-01 00:31:29,171 - INFO - V199: (76.36%) missing
2025-10-01 00:31:29,171 - INFO - V168: (76.36%) missing
2025-10-01 00:31:29,172 - INFO - V167: (76.36%) missing
2025-10-01 00:31:29,172 - INFO - V207: (76.36%) missing
2025-10-01 00:31:29,172 - INFO - V204: (76.36%) missing
2025-10-01 00:31:29,173 - INFO - V193: (76.36%) missing
2025-10-01 00:31:29,173 - INFO - V192: (76.36%) missing
2025-10-01 00:31:29,173 - INFO - V191: (76.36%) missing
2025-10-01 00:31:29,174 - INFO - V190: (76.36%) missing
2025-10-01 00:31:29,174 - INFO - V181: (76.36%) missing
2025-10-01 00:31:29,174 - INFO - V187: (76.36%) missing
2025-10-01 00:31:29,174 - INFO - V172: (76.36%) missing
2025-10-01 00:31:29,175 - INFO - V173: (76.36%) missing
2025-10-01 00:31:29,175 - INFO - V178: (76.36%) missing
2025-10-01 00:31:29,175 - INFO - V179: (76.36%) missing
2025-10-01 00:31:29,176 - INFO - V177: (76.36%) missing
2025-10-01 00:31:29,176 - INFO - V176: (76.36%) missing
2025-10-01 00:31:29,178 - INFO - V182: (76.36%) missing
2025-10-01 00:31:29,178 - INFO - V183: (76.36%) missing
2025-10-01 00:31:29,178 - INFO - V202: (76.36%) missing
2025-10-01 00:31:29,179 - INFO - V203: (76.36%) missing
2025-10-01 00:31:29,179 - INFO - V186: (76.36%) missing
2025-10-01 00:31:29,180 - INFO - V195: (76.32%) missing
2025-10-01 00:31:29,183 - INFO - V185: (76.32%) missing
2025-10-01 00:31:29,183 - INFO - V189: (76.32%) missing
2025-10-01 00:31:29,184 - INFO - V209: (76.32%) missing
2025-10-01 00:31:29,184 - INFO - V169: (76.32%) missing
2025-10-01 00:31:29,184 - INFO - V170: (76.32%) missing
2025-10-01 00:31:29,185 - INFO - V210: (76.32%) missing
2025-10-01 00:31:29,185 - INFO - V197: (76.32%) missing
2025-10-01 00:31:29,185 - INFO - V201: (76.32%) missing
2025-10-01 00:31:29,185 - INFO - V175: (76.32%) missing
2025-10-01 00:31:29,186 - INFO - V200: (76.32%) missing
2025-10-01 00:31:29,186 - INFO - V184: (76.32%) missing
2025-10-01 00:31:29,187 - INFO - V174: (76.32%) missing
2025-10-01 00:31:29,187 - INFO - V180: (76.32%) missing
2025-10-01 00:31:29,187 - INFO - V188: (76.32%) missing
2025-10-01 00:31:29,188 - INFO - V171: (76.32%) missing
2025-10-01 00:31:29,189 - INFO - V208: (76.32%) missing
2025-10-01 00:31:29,189 - INFO - V198: (76.32%) missing
2025-10-01 00:31:29,189 - INFO - V194: (76.32%) missing
2025-10-01 00:31:29,189 - INFO - V245: (76.05%) missing
2025-10-01 00:31:29,190 - INFO - V259: (76.05%) missing
2025-10-01 00:31:29,190 - INFO - V238: (76.05%) missing
2025-10-01 00:31:29,190 - INFO - V234: (76.05%) missing
2025-10-01 00:31:29,191 - INFO - V271: (76.05%) missing
2025-10-01 00:31:29,192 - INFO - V270: (76.05%) missing
2025-10-01 00:31:29,192 - INFO - V250: (76.05%) missing
2025-10-01 00:31:29,193 - INFO - V239: (76.05%) missing
2025-10-01 00:31:29,193 - INFO - V255: (76.05%) missing
2025-10-01 00:31:29,193 - INFO - V256: (76.05%) missing
2025-10-01 00:31:29,193 - INFO - V251: (76.05%) missing
2025-10-01 00:31:29,194 - INFO - V272: (76.05%) missing
2025-10-01 00:31:29,194 - INFO - V227: (76.05%) missing
2025-10-01 00:31:29,194 - INFO - V221: (76.05%) missing
2025-10-01 00:31:29,195 - INFO - V222: (76.05%) missing
2025-10-01 00:31:29,195 - INFO - V220: (76.05%) missing
2025-10-01 00:31:29,195 - INFO - dist1: (59.65%) missing
2025-10-01 00:31:29,196 - INFO - M5: (59.35%) missing
2025-10-01 00:31:29,196 - INFO - M7: (58.64%) missing
2025-10-01 00:31:29,198 - INFO - M8: (58.63%) missing
2025-10-01 00:31:29,198 - INFO - M9: (58.63%) missing
2025-10-01 00:31:29,198 - INFO - D5: (52.47%) missing
2025-10-01 00:31:29,199 - INFO - M4: (47.66%) missing
2025-10-01 00:31:29,199 - INFO - D2: (47.55%) missing
2025-10-01 00:31:29,199 - INFO - D11: (47.29%) missing
2025-10-01 00:31:29,200 - INFO - V2: (47.29%) missing
2025-10-01 00:31:29,200 - INFO - V11: (47.29%) missing
2025-10-01 00:31:29,200 - INFO - V1: (47.29%) missing
2025-10-01 00:31:29,201 - INFO - V7: (47.29%) missing
2025-10-01 00:31:29,201 - INFO - V8: (47.29%) missing
2025-10-01 00:31:29,201 - INFO - V9: (47.29%) missing
2025-10-01 00:31:29,201 - INFO - V10: (47.29%) missing
2025-10-01 00:31:29,202 - INFO - V3: (47.29%) missing
2025-10-01 00:31:29,202 - INFO - V6: (47.29%) missing
2025-10-01 00:31:29,202 - INFO - V5: (47.29%) missing
2025-10-01 00:31:29,203 - INFO - V4: (47.29%) missing
2025-10-01 00:31:29,203 - INFO - M2: (45.91%) missing
2025-10-01 00:31:29,204 - INFO - M3: (45.91%) missing
2025-10-01 00:31:29,204 - INFO - M1: (45.91%) missing
2025-10-01 00:31:29,204 - INFO - D3: (44.51%) missing
2025-10-01 00:31:29,204 - INFO - M6: (28.68%) missing
2025-10-01 00:31:29,205 - INFO - V46: (28.61%) missing
2025-10-01 00:31:29,205 - INFO - V48: (28.61%) missing
2025-10-01 00:31:29,205 - INFO - V41: (28.61%) missing
2025-10-01 00:31:29,206 - INFO - V43: (28.61%) missing
2025-10-01 00:31:29,206 - INFO - V45: (28.61%) missing
2025-10-01 00:31:29,206 - INFO - V36: (28.61%) missing
2025-10-01 00:31:29,207 - INFO - V39: (28.61%) missing
2025-10-01 00:31:29,207 - INFO - V38: (28.61%) missing
2025-10-01 00:31:29,207 - INFO - V42: (28.61%) missing
2025-10-01 00:31:29,208 - INFO - V40: (28.61%) missing
2025-10-01 00:31:29,208 - INFO - V52: (28.61%) missing
2025-10-01 00:31:29,208 - INFO - V51: (28.61%) missing
2025-10-01 00:31:29,208 - INFO - V37: (28.61%) missing
2025-10-01 00:31:29,209 - INFO - V49: (28.61%) missing
2025-10-01 00:31:29,209 - INFO - V50: (28.61%) missing
2025-10-01 00:31:29,209 - INFO - V35: (28.61%) missing
2025-10-01 00:31:29,210 - INFO - V47: (28.61%) missing
2025-10-01 00:31:29,210 - INFO - V44: (28.61%) missing
2025-10-01 00:31:29,210 - INFO - D4: (28.60%) missing
2025-10-01 00:31:29,210 - INFO - P_emaildomain: (15.99%) missing
2025-10-01 00:31:29,211 - INFO - V77: (15.10%) missing
2025-10-01 00:31:29,211 - INFO - V78: (15.10%) missing
2025-10-01 00:31:29,211 - INFO - V93: (15.10%) missing
2025-10-01 00:31:29,212 - INFO - V92: (15.10%) missing
2025-10-01 00:31:29,212 - INFO - V94: (15.10%) missing
2025-10-01 00:31:29,213 - INFO - V76: (15.10%) missing
2025-10-01 00:31:29,214 - INFO - V91: (15.10%) missing
2025-10-01 00:31:29,216 - INFO - V90: (15.10%) missing
2025-10-01 00:31:29,217 - INFO - V89: (15.10%) missing
2025-10-01 00:31:29,217 - INFO - V75: (15.10%) missing
2025-10-01 00:31:29,218 - INFO - V86: (15.10%) missing
2025-10-01 00:31:29,218 - INFO - V87: (15.10%) missing
2025-10-01 00:31:29,219 - INFO - V88: (15.10%) missing
2025-10-01 00:31:29,219 - INFO - V80: (15.10%) missing
2025-10-01 00:31:29,220 - INFO - V79: (15.10%) missing
2025-10-01 00:31:29,220 - INFO - V83: (15.10%) missing
2025-10-01 00:31:29,220 - INFO - V84: (15.10%) missing
2025-10-01 00:31:29,221 - INFO - V82: (15.10%) missing
2025-10-01 00:31:29,221 - INFO - V81: (15.10%) missing
2025-10-01 00:31:29,221 - INFO - V85: (15.10%) missing
2025-10-01 00:31:29,222 - INFO - D15: (15.09%) missing
2025-10-01 00:31:29,222 - INFO - V65: (13.06%) missing
2025-10-01 00:31:29,222 - INFO - V64: (13.06%) missing
2025-10-01 00:31:29,222 - INFO - V61: (13.06%) missing
2025-10-01 00:31:29,223 - INFO - V60: (13.06%) missing
2025-10-01 00:31:29,223 - INFO - V63: (13.06%) missing
2025-10-01 00:31:29,223 - INFO - V62: (13.06%) missing
2025-10-01 00:31:29,224 - INFO - V53: (13.06%) missing
2025-10-01 00:31:29,224 - INFO - V67: (13.06%) missing
2025-10-01 00:31:29,224 - INFO - V55: (13.06%) missing
2025-10-01 00:31:29,224 - INFO - V54: (13.06%) missing
2025-10-01 00:31:29,225 - INFO - V58: (13.06%) missing
2025-10-01 00:31:29,225 - INFO - V59: (13.06%) missing
2025-10-01 00:31:29,225 - INFO - V74: (13.06%) missing
2025-10-01 00:31:29,226 - INFO - V66: (13.06%) missing
2025-10-01 00:31:29,226 - INFO - V57: (13.06%) missing
2025-10-01 00:31:29,226 - INFO - V56: (13.06%) missing
2025-10-01 00:31:29,227 - INFO - V73: (13.06%) missing
2025-10-01 00:31:29,227 - INFO - V68: (13.06%) missing
2025-10-01 00:31:29,227 - INFO - V70: (13.06%) missing
2025-10-01 00:31:29,227 - INFO - V71: (13.06%) missing
2025-10-01 00:31:29,228 - INFO - V72: (13.06%) missing
2025-10-01 00:31:29,230 - INFO - V69: (13.06%) missing
2025-10-01 00:31:29,231 - INFO - V34: (12.88%) missing
2025-10-01 00:31:29,231 - INFO - V33: (12.88%) missing
2025-10-01 00:31:29,232 - INFO - V31: (12.88%) missing
2025-10-01 00:31:29,232 - INFO - V30: (12.88%) missing
2025-10-01 00:31:29,232 - INFO - V29: (12.88%) missing
2025-10-01 00:31:29,233 - INFO - V28: (12.88%) missing
2025-10-01 00:31:29,233 - INFO - V16: (12.88%) missing
2025-10-01 00:31:29,233 - INFO - V17: (12.88%) missing
2025-10-01 00:31:29,234 - INFO - V18: (12.88%) missing
2025-10-01 00:31:29,234 - INFO - V19: (12.88%) missing
2025-10-01 00:31:29,234 - INFO - V20: (12.88%) missing
2025-10-01 00:31:29,235 - INFO - V21: (12.88%) missing
2025-10-01 00:31:29,235 - INFO - V22: (12.88%) missing
2025-10-01 00:31:29,238 - INFO - V23: (12.88%) missing
2025-10-01 00:31:29,238 - INFO - V24: (12.88%) missing
2025-10-01 00:31:29,238 - INFO - V25: (12.88%) missing
2025-10-01 00:31:29,239 - INFO - V26: (12.88%) missing
2025-10-01 00:31:29,239 - INFO - V27: (12.88%) missing
2025-10-01 00:31:29,239 - INFO - V15: (12.88%) missing
2025-10-01 00:31:29,240 - INFO - V14: (12.88%) missing
2025-10-01 00:31:29,240 - INFO - V13: (12.88%) missing
2025-10-01 00:31:29,240 - INFO - V12: (12.88%) missing
2025-10-01 00:31:29,241 - INFO - V32: (12.88%) missing
2025-10-01 00:31:29,241 - INFO - D10: (12.87%) missing
2025-10-01 00:31:29,241 - INFO - addr1: (11.13%) missing
2025-10-01 00:31:29,241 - INFO - addr2: (11.13%) missing
2025-10-01 00:31:29,242 - INFO - card2: (1.51%) missing
2025-10-01 00:31:29,242 - INFO - card5: (0.72%) missing
2025-10-01 00:31:29,242 - INFO - card4: (0.27%) missing
2025-10-01 00:31:29,243 - INFO - card6: (0.27%) missing
2025-10-01 00:31:29,243 - INFO - card3: (0.27%) missing
2025-10-01 00:31:29,243 - INFO - V281: (0.21%) missing
2025-10-01 00:31:29,243 - INFO - V296: (0.21%) missing
2025-10-01 00:31:29,244 - INFO - V300: (0.21%) missing
2025-10-01 00:31:29,244 - INFO - V301: (0.21%) missing
2025-10-01 00:31:29,244 - INFO - V313: (0.21%) missing
2025-10-01 00:31:29,245 - INFO - V315: (0.21%) missing
2025-10-01 00:31:29,245 - INFO - V314: (0.21%) missing
2025-10-01 00:31:29,245 - INFO - V289: (0.21%) missing
2025-10-01 00:31:29,246 - INFO - V288: (0.21%) missing
2025-10-01 00:31:29,246 - INFO - V282: (0.21%) missing
2025-10-01 00:31:29,246 - INFO - V283: (0.21%) missing
2025-10-01 00:31:29,247 - INFO - D1: (0.21%) missing
2025-10-01 00:31:29,248 - INFO - V123: (0.05%) missing
2025-10-01 00:31:29,249 - INFO - V120: (0.05%) missing
2025-10-01 00:31:29,250 - INFO - V122: (0.05%) missing
2025-10-01 00:31:29,250 - INFO - V115: (0.05%) missing
2025-10-01 00:31:29,251 - INFO - V114: (0.05%) missing
2025-10-01 00:31:29,251 - INFO - V112: (0.05%) missing
2025-10-01 00:31:29,251 - INFO - V121: (0.05%) missing
2025-10-01 00:31:29,252 - INFO - V118: (0.05%) missing
2025-10-01 00:31:29,252 - INFO - V117: (0.05%) missing
2025-10-01 00:31:29,252 - INFO - V116: (0.05%) missing
2025-10-01 00:31:29,253 - INFO - V119: (0.05%) missing
2025-10-01 00:31:29,253 - INFO - V108: (0.05%) missing
2025-10-01 00:31:29,253 - INFO - V109: (0.05%) missing
2025-10-01 00:31:29,254 - INFO - V110: (0.05%) missing
2025-10-01 00:31:29,254 - INFO - V111: (0.05%) missing
2025-10-01 00:31:29,254 - INFO - V113: (0.05%) missing
2025-10-01 00:31:29,255 - INFO - V102: (0.05%) missing
2025-10-01 00:31:29,255 - INFO - V101: (0.05%) missing
2025-10-01 00:31:29,256 - INFO - V100: (0.05%) missing
2025-10-01 00:31:29,257 - INFO - V107: (0.05%) missing
2025-10-01 00:31:29,258 - INFO - V106: (0.05%) missing
2025-10-01 00:31:29,259 - INFO - V105: (0.05%) missing
2025-10-01 00:31:29,260 - INFO - V104: (0.05%) missing
2025-10-01 00:31:29,262 - INFO - V96: (0.05%) missing
2025-10-01 00:31:29,264 - INFO - V97: (0.05%) missing
2025-10-01 00:31:29,265 - INFO - V98: (0.05%) missing
2025-10-01 00:31:29,266 - INFO - V99: (0.05%) missing
2025-10-01 00:31:29,266 - INFO - V103: (0.05%) missing
2025-10-01 00:31:29,267 - INFO - V95: (0.05%) missing
2025-10-01 00:31:29,268 - INFO - V136: (0.05%) missing
2025-10-01 00:31:29,269 - INFO - V137: (0.05%) missing
2025-10-01 00:31:29,270 - INFO - V134: (0.05%) missing
2025-10-01 00:31:29,270 - INFO - V133: (0.05%) missing
2025-10-01 00:31:29,271 - INFO - V132: (0.05%) missing
2025-10-01 00:31:29,273 - INFO - V135: (0.05%) missing
2025-10-01 00:31:29,274 - INFO - V130: (0.05%) missing
2025-10-01 00:31:29,274 - INFO - V129: (0.05%) missing
2025-10-01 00:31:29,275 - INFO - V128: (0.05%) missing
2025-10-01 00:31:29,275 - INFO - V127: (0.05%) missing
2025-10-01 00:31:29,276 - INFO - V126: (0.05%) missing
2025-10-01 00:31:29,276 - INFO - V125: (0.05%) missing
2025-10-01 00:31:29,277 - INFO - V124: (0.05%) missing
2025-10-01 00:31:29,277 - INFO - V131: (0.05%) missing
2025-10-01 00:31:29,277 - INFO - V321: (0.00%) missing
2025-10-01 00:31:29,278 - INFO - V303: (0.00%) missing
2025-10-01 00:31:29,279 - INFO - V302: (0.00%) missing
2025-10-01 00:31:29,279 - INFO - V305: (0.00%) missing
2025-10-01 00:31:29,280 - INFO - V309: (0.00%) missing
2025-10-01 00:31:29,280 - INFO - V306: (0.00%) missing
2025-10-01 00:31:29,281 - INFO - V307: (0.00%) missing
2025-10-01 00:31:29,282 - INFO - V308: (0.00%) missing
2025-10-01 00:31:29,283 - INFO - V312: (0.00%) missing
2025-10-01 00:31:29,284 - INFO - V311: (0.00%) missing
2025-10-01 00:31:29,284 - INFO - V310: (0.00%) missing
2025-10-01 00:31:29,285 - INFO - V316: (0.00%) missing
2025-10-01 00:31:29,286 - INFO - V317: (0.00%) missing
2025-10-01 00:31:29,287 - INFO - V318: (0.00%) missing
2025-10-01 00:31:29,288 - INFO - V319: (0.00%) missing
2025-10-01 00:31:29,288 - INFO - V320: (0.00%) missing
2025-10-01 00:31:29,289 - INFO - V304: (0.00%) missing

In [148]:
df.isna().sum()

TransactionID      0
isFraud            0
TransactionDT      0
TransactionAmt     0
ProductCD          0
                  ..
billing_address    0
provider           0
suffix             0
provider_bucket    0
fraud_bucket       0
Length: 231, dtype: int64

In [118]:
df['P_emaildomain'].apply(lambda x: x.split('.')[0] if x != 'missing' else 'missing')

0           gmail
1             aol
2         hotmail
3           gmail
4           gmail
           ...
506686      gmail
506687    hotmail
506688    hotmail
506689    hotmail
506690    hotmail
Name: P_emaildomain, Length: 506691, dtype: object

In [ ]:
# ---Split provider and suffix ---
df['provider'] = df['P_emaildomain'].apply(lambda x: x.split('.')[0] if x != 'missing' else 'missing')
df['suffix'] = df['P_emaildomain'].apply(lambda x: x.split('.')[-1] if x != 'missing' else 'missing')

df[['P_emaildomain', 'provider', 'suffix']].sample(10)

In [108]:
df.P_emaildomain.head()

0      gmail.com
1        aol.com
2    hotmail.com
3      gmail.com
4      gmail.com
Name: P_emaildomain, dtype: object

In [95]:
df['addr2'].unique()

array([ 87.,  -1.,  12.,  96.,  57.,  60.,  65.,  95.,  69.,  73.,  43.,
        68.,  27.,  34.,  88.,  31.,  17.,  38.,  93.,  32.,  13.,  80.,
        62.,  24.,  44.,  64.,  41.,  98., 100.,  78.,  79.,  66.,  61.,
        56.,  30.,  26.,  86.,  52.,  90.,  16., 102.,  67.,  71.,  29.,
        94.,  72.,  28.,  85.,  37.,  59.,  54.,  84.,  45.,  77., 101.,
        19.,  40.,  53.,  48.,  36.,  91.,  33.,  51.,  81.,  47.,  74.,
        99.,  42.,  58.,  11.,  10.,  18.,  46.])

In [81]:
data_wrangler?

Signature: data_wrangler(path_to_dataset, drop_threshold=0.7)
Docstring:
Load, clean, and preprocess raw tabular datasets into a standardized pandas DataFrame.

This function acts as an entry-point for data ingestion and wrangling.
It automatically detects the dataset type from the file extension
(CSV, Excel, Parquet, JSON) and applies consistent preprocessing steps
to ensure the data is ready for downstream modeling.

The wrangling process includes:
    - Loading the dataset from supported formats (.csv, .xlsx, .xls, .parquet, .json).
    - Handle duplicates
    - Handling missing values (drop features with >= 'drop_threshold%' missingness or impute otherwise)

Parameters
----------
path_to_dataset : str
    Path to the dataset file (CSV, Excel, Parquet, or JSON).

Returns
-------
pandas.DataFrame
    A cleaned and preprocessed DataFrame ready for exploratory data analysis (EDA)
    or model training.

Raises
------
FileNotFoundError
    If the provided file path does not exist.
ValueError
    If the file extension is unsupported.
RuntimeError
    If there is an error during file loading or preprocessing.
File:      c:\users\new\appdata\local\temp\ipykernel_14296\1041463529.py
Type:      function

In [83]:
df = pd.read_csv("dataset/train_transaction.csv")

In [85]:
df.isFraud.value_counts(normalize = True)

isFraud
0    0.96501
1    0.03499
Name: proportion, dtype: float64

In [5]:
start_time = time.perf_counter()
df.TransactionID.duplicated().sum()
print(time.perf_counter() - start_time)

0.008370700001250952

In [6]:
start_time = time.perf_counter()
df.duplicated().sum()
print(time.perf_counter() - start_time)

1.0233487999648787

In [40]:
int(df.shape[0] == df.TransactionID.duplicated().sum())

0

In [10]:
start_time = time.perf_counter()
df.drop_duplicates(subset = ['TransactionID'], keep = 'first')
print(time.perf_counter() - start_time)

0.14160339999943972

In [11]:
start_time = time.perf_counter()
df.drop_duplicates()
print(time.perf_counter() - start_time)

1.1088416000129655

In [9]:
df.drop_duplicates(subset = ['TransactionID'], keep = 'first')

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31_missing,id_32_missing,id_33_missing,id_34_missing,id_35_missing,id_36_missing,id_37_missing,id_38_missing,DeviceType_missing,DeviceInfo_missing
0,2987000,0,86400,68.50,W,13926,missing,150.0,discover,142.0,...,1,1,1,1,1,1,1,1,1,1
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,1,1,1,1,1,1,1,1,1,1
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,1,1,1,1,1,1,1,1,1,1
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,1,1,1,1,1,1,1,1,1,1
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,missing,150.0,visa,226.0,...,1,1,1,1,1,1,1,1,1,1
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,1,1,1,1,1,1,1,1,1,1
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,1,1,1,1,1,1,1,1,1,1
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,1,1,1,1,1,1,1,1,1,1
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,1,1,1,1,1,1,1,1,1,1

In [69]:
df['addr1'].isna().any()

np.True_

In [24]:
ms = df.isna().sum()

In [27]:
ms[ms > 0].sort_values(ascending=False)

dist2    470255
D7       446558
D12      437437
D9       432353
D8       432353
          ...
C2            3
V293          3
V294          3
V292          3
V295          3
Length: 345, dtype: int64

In [35]:
if not ms.empty:
    print("Features with missing values:")
    for col, val in ms.items():
        print(f"{col}: {val} missing ({val / len(df):.2%})")
else:
    print("No missing values found!")

Features with missing values:
TransactionID: 0 missing (0.00%)
TransactionDT: 0 missing (0.00%)
TransactionAmt: 0 missing (0.00%)
ProductCD: 0 missing (0.00%)
card1: 0 missing (0.00%)
card2: 8654 missing (1.47%)
card3: 3002 missing (0.51%)
card4: 3086 missing (0.52%)
card5: 4547 missing (0.77%)
card6: 3007 missing (0.51%)
addr1: 65609 missing (11.11%)
addr2: 65609 missing (11.11%)
dist1: 291217 missing (49.31%)
dist2: 470255 missing (79.63%)
P_emaildomain: 69192 missing (11.72%)
R_emaildomain: 370821 missing (62.79%)
C1: 3 missing (0.00%)
C2: 3 missing (0.00%)
C3: 3 missing (0.00%)
C4: 3 missing (0.00%)
C5: 3 missing (0.00%)
C6: 3 missing (0.00%)
C7: 3 missing (0.00%)
C8: 3 missing (0.00%)
C9: 3 missing (0.00%)
C10: 3 missing (0.00%)
C11: 3 missing (0.00%)
C12: 3 missing (0.00%)
C13: 4748 missing (0.80%)
C14: 3 missing (0.00%)
D1: 6031 missing (1.02%)
D2: 234769 missing (39.75%)
D3: 203142 missing (34.40%)
D4: 76851 missing (13.01%)
D5: 224375 missing (37.99%)
D6: 381908 missing (64.67%)
D7: 446558 missing (75.62%)
D8: 432353 missing (73.21%)
D9: 432353 missing (73.21%)
D10: 12545 missing (2.12%)
D11: 176518 missing (29.89%)
D12: 437437 missing (74.07%)
D13: 383307 missing (64.91%)
D14: 391497 missing (66.29%)
D15: 12069 missing (2.04%)
M1: 176639 missing (29.91%)
M2: 176639 missing (29.91%)
M3: 176639 missing (29.91%)
M4: 237745 missing (40.26%)
M5: 309632 missing (52.43%)
M6: 158939 missing (26.91%)
M7: 235018 missing (39.80%)
M8: 235004 missing (39.79%)
M9: 235004 missing (39.79%)
V1: 176518 missing (29.89%)
V2: 176518 missing (29.89%)
V3: 176518 missing (29.89%)
V4: 176518 missing (29.89%)
V5: 176518 missing (29.89%)
V6: 176518 missing (29.89%)
V7: 176518 missing (29.89%)
V8: 176518 missing (29.89%)
V9: 176518 missing (29.89%)
V10: 176518 missing (29.89%)
V11: 176518 missing (29.89%)
V12: 12589 missing (2.13%)
V13: 12589 missing (2.13%)
V14: 12589 missing (2.13%)
V15: 12589 missing (2.13%)
V16: 12589 missing (2.13%)
V17: 12589 missing (2.13%)
V18: 12589 missing (2.13%)
V19: 12589 missing (2.13%)
V20: 12589 missing (2.13%)
V21: 12589 missing (2.13%)
V22: 12589 missing (2.13%)
V23: 12589 missing (2.13%)
V24: 12589 missing (2.13%)
V25: 12589 missing (2.13%)
V26: 12589 missing (2.13%)
V27: 12589 missing (2.13%)
V28: 12589 missing (2.13%)
V29: 12589 missing (2.13%)
V30: 12589 missing (2.13%)
V31: 12589 missing (2.13%)
V32: 12589 missing (2.13%)
V33: 12589 missing (2.13%)
V34: 12589 missing (2.13%)
V35: 76854 missing (13.01%)
V36: 76854 missing (13.01%)
V37: 76854 missing (13.01%)
V38: 76854 missing (13.01%)
V39: 76854 missing (13.01%)
V40: 76854 missing (13.01%)
V41: 76854 missing (13.01%)
V42: 76854 missing (13.01%)
V43: 76854 missing (13.01%)
V44: 76854 missing (13.01%)
V45: 76854 missing (13.01%)
V46: 76854 missing (13.01%)
V47: 76854 missing (13.01%)
V48: 76854 missing (13.01%)
V49: 76854 missing (13.01%)
V50: 76854 missing (13.01%)
V51: 76854 missing (13.01%)
V52: 76854 missing (13.01%)
V53: 12899 missing (2.18%)
V54: 12899 missing (2.18%)
V55: 12899 missing (2.18%)
V56: 12899 missing (2.18%)
V57: 12899 missing (2.18%)
V58: 12899 missing (2.18%)
V59: 12899 missing (2.18%)
V60: 12899 missing (2.18%)
V61: 12899 missing (2.18%)
V62: 12899 missing (2.18%)
V63: 12899 missing (2.18%)
V64: 12899 missing (2.18%)
V65: 12899 missing (2.18%)
V66: 12899 missing (2.18%)
V67: 12899 missing (2.18%)
V68: 12899 missing (2.18%)
V69: 12899 missing (2.18%)
V70: 12899 missing (2.18%)
V71: 12899 missing (2.18%)
V72: 12899 missing (2.18%)
V73: 12899 missing (2.18%)
V74: 12899 missing (2.18%)
V75: 12081 missing (2.05%)
V76: 12081 missing (2.05%)
V77: 12081 missing (2.05%)
V78: 12081 missing (2.05%)
V79: 12081 missing (2.05%)
V80: 12081 missing (2.05%)
V81: 12081 missing (2.05%)
V82: 12081 missing (2.05%)
V83: 12081 missing (2.05%)
V84: 12081 missing (2.05%)
V85: 12081 missing (2.05%)
V86: 12081 missing (2.05%)
V87: 12081 missing (2.05%)
V88: 12081 missing (2.05%)
V89: 12081 missing (2.05%)
V90: 12081 missing (2.05%)
V91: 12081 missing (2.05%)
V92: 12081 missing (2.05%)
V93: 12081 missing (2.05%)
V94: 12081 missing (2.05%)
V95: 0 missing (0.00%)
V96: 0 missing (0.00%)
V97: 0 missing (0.00%)
V98: 0 missing (0.00%)
V99: 0 missing (0.00%)
V100: 0 missing (0.00%)
V101: 0 missing (0.00%)
V102: 0 missing (0.00%)
V103: 0 missing (0.00%)
V104: 0 missing (0.00%)
V105: 0 missing (0.00%)
V106: 0 missing (0.00%)
V107: 0 missing (0.00%)
V108: 0 missing (0.00%)
V109: 0 missing (0.00%)
V110: 0 missing (0.00%)
V111: 0 missing (0.00%)
V112: 0 missing (0.00%)
V113: 0 missing (0.00%)
V114: 0 missing (0.00%)
V115: 0 missing (0.00%)
V116: 0 missing (0.00%)
V117: 0 missing (0.00%)
V118: 0 missing (0.00%)
V119: 0 missing (0.00%)
V120: 0 missing (0.00%)
V121: 0 missing (0.00%)
V122: 0 missing (0.00%)
V123: 0 missing (0.00%)
V124: 0 missing (0.00%)
V125: 0 missing (0.00%)
V126: 0 missing (0.00%)
V127: 0 missing (0.00%)
V128: 0 missing (0.00%)
V129: 0 missing (0.00%)
V130: 0 missing (0.00%)
V131: 0 missing (0.00%)
V132: 0 missing (0.00%)
V133: 0 missing (0.00%)
V134: 0 missing (0.00%)
V135: 0 missing (0.00%)
V136: 0 missing (0.00%)
V137: 0 missing (0.00%)
V138: 430906 missing (72.97%)
V139: 430906 missing (72.97%)
V140: 430906 missing (72.97%)
V141: 430906 missing (72.97%)
V142: 430906 missing (72.97%)
V143: 430636 missing (72.92%)
V144: 430636 missing (72.92%)
V145: 430636 missing (72.92%)
V146: 430906 missing (72.97%)
V147: 430906 missing (72.97%)
V148: 430906 missing (72.97%)
V149: 430906 missing (72.97%)
V150: 430636 missing (72.92%)
V151: 430636 missing (72.92%)
V152: 430636 missing (72.92%)
V153: 430906 missing (72.97%)
V154: 430906 missing (72.97%)
V155: 430906 missing (72.97%)
V156: 430906 missing (72.97%)
V157: 430906 missing (72.97%)
V158: 430906 missing (72.97%)
V159: 430636 missing (72.92%)
V160: 430636 missing (72.92%)
V161: 430906 missing (72.97%)
V162: 430906 missing (72.97%)
V163: 430906 missing (72.97%)
V164: 430636 missing (72.92%)
V165: 430636 missing (72.92%)
V166: 430636 missing (72.92%)
V167: 369957 missing (62.65%)
V168: 369957 missing (62.65%)
V169: 370316 missing (62.71%)
V170: 370316 missing (62.71%)
V171: 370316 missing (62.71%)
V172: 369957 missing (62.65%)
V173: 369957 missing (62.65%)
V174: 370316 missing (62.71%)
V175: 370316 missing (62.71%)
V176: 369957 missing (62.65%)
V177: 369957 missing (62.65%)
V178: 369957 missing (62.65%)
V179: 369957 missing (62.65%)
V180: 370316 missing (62.71%)
V181: 369957 missing (62.65%)
V182: 369957 missing (62.65%)
V183: 369957 missing (62.65%)
V184: 370316 missing (62.71%)
V185: 370316 missing (62.71%)
V186: 369957 missing (62.65%)
V187: 369957 missing (62.65%)
V188: 370316 missing (62.71%)
V189: 370316 missing (62.71%)
V190: 369957 missing (62.65%)
V191: 369957 missing (62.65%)
V192: 369957 missing (62.65%)
V193: 369957 missing (62.65%)
V194: 370316 missing (62.71%)
V195: 370316 missing (62.71%)
V196: 369957 missing (62.65%)
V197: 370316 missing (62.71%)
V198: 370316 missing (62.71%)
V199: 369957 missing (62.65%)
V200: 370316 missing (62.71%)
V201: 370316 missing (62.71%)
V202: 369957 missing (62.65%)
V203: 369957 missing (62.65%)
V204: 369957 missing (62.65%)
V205: 369957 missing (62.65%)
V206: 369957 missing (62.65%)
V207: 369957 missing (62.65%)
V208: 370316 missing (62.71%)
V209: 370316 missing (62.71%)
V210: 370316 missing (62.71%)
V211: 369957 missing (62.65%)
V212: 369957 missing (62.65%)
V213: 369957 missing (62.65%)
V214: 369957 missing (62.65%)
V215: 369957 missing (62.65%)
V216: 369957 missing (62.65%)
V217: 379963 missing (64.34%)
V218: 379963 missing (64.34%)
V219: 379963 missing (64.34%)
V220: 369375 missing (62.55%)
V221: 369375 missing (62.55%)
V222: 369375 missing (62.55%)
V223: 379963 missing (64.34%)
V224: 379963 missing (64.34%)
V225: 379963 missing (64.34%)
V226: 379963 missing (64.34%)
V227: 369375 missing (62.55%)
V228: 379963 missing (64.34%)
V229: 379963 missing (64.34%)
V230: 379963 missing (64.34%)
V231: 379963 missing (64.34%)
V232: 379963 missing (64.34%)
V233: 379963 missing (64.34%)
V234: 369375 missing (62.55%)
V235: 379963 missing (64.34%)
V236: 379963 missing (64.34%)
V237: 379963 missing (64.34%)
V238: 369375 missing (62.55%)
V239: 369375 missing (62.55%)
V240: 379963 missing (64.34%)
V241: 379963 missing (64.34%)
V242: 379963 missing (64.34%)
V243: 379963 missing (64.34%)
V244: 379963 missing (64.34%)
V245: 369375 missing (62.55%)
V246: 379963 missing (64.34%)
V247: 379963 missing (64.34%)
V248: 379963 missing (64.34%)
V249: 379963 missing (64.34%)
V250: 369375 missing (62.55%)
V251: 369375 missing (62.55%)
V252: 379963 missing (64.34%)
V253: 379963 missing (64.34%)
V254: 379963 missing (64.34%)
V255: 369375 missing (62.55%)
V256: 369375 missing (62.55%)
V257: 379963 missing (64.34%)
V258: 379963 missing (64.34%)
V259: 369375 missing (62.55%)
V260: 379963 missing (64.34%)
V261: 379963 missing (64.34%)
V262: 379963 missing (64.34%)
V263: 379963 missing (64.34%)
V264: 379963 missing (64.34%)
V265: 379963 missing (64.34%)
V266: 379963 missing (64.34%)
V267: 379963 missing (64.34%)
V268: 379963 missing (64.34%)
V269: 379963 missing (64.34%)
V270: 369375 missing (62.55%)
V271: 369375 missing (62.55%)
V272: 369375 missing (62.55%)
V273: 379963 missing (64.34%)
V274: 379963 missing (64.34%)
V275: 379963 missing (64.34%)
V276: 379963 missing (64.34%)
V277: 379963 missing (64.34%)
V278: 379963 missing (64.34%)
V279: 3 missing (0.00%)
V280: 3 missing (0.00%)
V281: 6031 missing (1.02%)
V282: 6031 missing (1.02%)
V283: 6031 missing (1.02%)
V284: 3 missing (0.00%)
V285: 3 missing (0.00%)
V286: 3 missing (0.00%)
V287: 3 missing (0.00%)
V288: 6031 missing (1.02%)
V289: 6031 missing (1.02%)
V290: 3 missing (0.00%)
V291: 3 missing (0.00%)
V292: 3 missing (0.00%)
V293: 3 missing (0.00%)
V294: 3 missing (0.00%)
V295: 3 missing (0.00%)
V296: 6031 missing (1.02%)
V297: 3 missing (0.00%)
V298: 3 missing (0.00%)
V299: 3 missing (0.00%)
V300: 6031 missing (1.02%)
V301: 6031 missing (1.02%)
V302: 3 missing (0.00%)
V303: 3 missing (0.00%)
V304: 3 missing (0.00%)
V305: 3 missing (0.00%)
V306: 3 missing (0.00%)
V307: 3 missing (0.00%)
V308: 3 missing (0.00%)
V309: 3 missing (0.00%)
V310: 3 missing (0.00%)
V311: 3 missing (0.00%)
V312: 3 missing (0.00%)
V313: 6031 missing (1.02%)
V314: 6031 missing (1.02%)
V315: 6031 missing (1.02%)
V316: 3 missing (0.00%)
V317: 3 missing (0.00%)
V318: 3 missing (0.00%)
V319: 3 missing (0.00%)
V320: 3 missing (0.00%)
V321: 3 missing (0.00%)
V322: 430260 missing (72.86%)
V323: 430260 missing (72.86%)
V324: 430260 missing (72.86%)
V325: 430260 missing (72.86%)
V326: 430260 missing (72.86%)
V327: 430260 missing (72.86%)
V328: 430260 missing (72.86%)
V329: 430260 missing (72.86%)
V330: 430260 missing (72.86%)
V331: 430260 missing (72.86%)
V332: 430260 missing (72.86%)
V333: 430260 missing (72.86%)
V334: 430260 missing (72.86%)
V335: 430260 missing (72.86%)
V336: 430260 missing (72.86%)
V337: 430260 missing (72.86%)
V338: 430260 missing (72.86%)
V339: 430260 missing (72.86%)

In [51]:
df.isna().mean()

TransactionID     0.00000
isFraud           0.00000
TransactionDT     0.00000
TransactionAmt    0.00000
ProductCD         0.00000
                   ...
V335              0.86055
V336              0.86055
V337              0.86055
V338              0.86055
V339              0.86055
Length: 394, dtype: float64

In [75]:
df[['card1', 'card2', 'card3', 'card4', 'card5', 'card6']].head()

   card1  card2  card3       card4  card5   card6
0  13926    NaN  150.0    discover  142.0  credit
1   2755  404.0  150.0  mastercard  102.0  credit
2   4663  490.0  150.0        visa  166.0   debit
3  18132  567.0  150.0  mastercard  117.0   debit
4   4497  514.0  150.0  mastercard  102.0  credit

# Alt 2

### For Transaction dataset

In [23]:
import os
import time
import pandas as pd
import logging
import numpy as np

logger = logging.getLogger(__name__)

In [3]:
# Function to load dataset
def load_dataset(path_to_dataset):
    """Load dataset from various file types."""
    if not os.path.exists(path_to_dataset):
        raise FileNotFoundError(f"File not found: {path_to_dataset}")

    ext = os.path.splitext(path_to_dataset)[1].lower()
    loaders = {
        ".csv": pd.read_csv,
        ".xlsx": pd.read_excel,
        ".xls": pd.read_excel,
        ".parquet": pd.read_parquet,
        ".json": pd.read_json,
    }

    if ext not in loaders:
        raise ValueError(f"Unsupported file type: {ext}. Supported: {list(loaders.keys())}")

    return loaders[ext](path_to_dataset)

In [4]:
# Function to handle duplicates in transaction datasets
def handle_duplicates(dataset, id_col="TransactionID"):
    """Drop duplicate rows based on an ID column."""
    if id_col in dataset.columns:
        before = dataset.shape[0]
        dataset = dataset.drop_duplicates(subset=[id_col], keep="first")
        dropped = before - dataset.shape[0]
        if dropped > 0:
            logger.info(f"Dropped {dropped} duplicate rows.")
        else:
            logger.info("No duplicates found!")
    return dataset

In [5]:
def handle_transaction_missing(dataset, drop_threshold=0.7, impute_categoricals=True, impute_numericals="median"):
    """Drop and impute missing values based on rules."""
    missing = dataset.isna().mean()
    to_drop = missing[missing >= drop_threshold].index

    if len(to_drop) > 0:
        dataset.drop(columns=to_drop, inplace=True)
        logger.info(f"Dropped {len(to_drop)} feature(s) with >={drop_threshold:.0%} missingness.")

    # impute categoricals
    if impute_categoricals:
        categorical_cols = dataset.select_dtypes(include=["object", "category"]).columns
        for col in categorical_cols:
            if dataset[col].isna().any():
                dataset[col].fillna("missing", inplace=True)

        for col in ["card1", "card2", "card3", "card5", "addr1", "addr2"]:
            if col in dataset.columns and dataset[col].isna().any():
                dataset[col].fillna(-1, inplace=True)

    # impute numericals
    if impute_numericals is not None:
        num_cols = dataset.select_dtypes(include="number").columns
        for col in num_cols:
            if dataset[col].isna().any():
                if impute_numericals == "mean":
                    fill_value = dataset[col].mean()
                elif impute_numericals == "median":
                    fill_value = dataset[col].median()
                else:
                    raise ValueError("Invalid impute_numericals option. Use 'mean', 'median', or None.")
                dataset[col].fillna(fill_value, inplace=True)

    return dataset

In [6]:
# Function for feature engineering
def trans_feature_engineering(dataset, rare_provider_threshold=500):
    """Engineer fraud-related and domain features."""
    start_time = time.perf_counter()
    new_features = pd.DataFrame(index=dataset.index)

    # billing address
    if "addr1" in dataset.columns and "addr2" in dataset.columns:
        new_features["billing_address"] = dataset["addr1"].astype(str) + "_" + dataset["addr2"].astype(str)

    # email provider features
    if "P_emaildomain" in dataset.columns:
        new_features["provider"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[0] if x != "missing" else "missing"
        )
        new_features["suffix"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[-1] if x != "missing" else "missing"
        )

        provider_counts = new_features["provider"].value_counts()
        new_features["provider_bucket"] = new_features["provider"].apply(
            lambda x: x if provider_counts[x] >= rare_provider_threshold else "rare"
        )

    dataset = pd.concat([dataset, new_features], axis=1)

    # fraud bucket per domain
    if "P_emaildomain" in dataset.columns and "isFraud" in dataset.columns:
        fraud_stats = dataset.groupby("P_emaildomain")["isFraud"].agg(["mean", "count"]).reset_index()
        fraud_stats["fraud_bucket"] = pd.cut(
            fraud_stats["mean"], bins=[-1, 0.03, 0.10, 1], labels=["low", "medium", "high"]
        ).astype(str)

        dataset = dataset.merge(
            fraud_stats[["P_emaildomain", "fraud_bucket"]],
            on="P_emaildomain", how="left"
        )

        dataset.drop(columns=["P_emaildomain"], inplace=True)
    logger.info(f"Feature engineering completed. Time taken: {(time.perf_counter() - start_time):.2f}s")
    return dataset

In [13]:
# Main data wrangling function (to assemble all components together)
def transaction_data_wrangler(
    path_to_dataset,
    drop_threshold=0.7,
    impute_categoricals=True,
    impute_numericals="median",
    feature_engineering_flag=True,
    rare_provider_threshold=500
):
    """Main entry point for transaction dataset wrangling."""
    start_time = time.perf_counter()

    try:
        dataset = load_dataset(path_to_dataset)
        logger.info(f"Loaded dataset | Shape: {dataset.shape} | Load time: {(time.perf_counter() - start_time):.2f}s")

        dataset = handle_duplicates(dataset)
        dataset = handle_transaction_missing(dataset, drop_threshold, impute_categoricals, impute_numericals)

        # round amounts
        if "TransactionAmt" in dataset.columns:
            dataset["TransactionAmt"] = dataset["TransactionAmt"].round(2)

        # feature engineering
        if feature_engineering_flag:
            dataset = trans_feature_engineering(dataset, rare_provider_threshold)

        elapsed = time.perf_counter() - start_time
        logger.info(f"Wrangling completed | Shape: {dataset.shape} | Time: {elapsed:.2f}s")
        return dataset

    except Exception as e:
        raise RuntimeError(f"Failed wrangling {path_to_dataset}: {e}")

In [14]:
df = transaction_data_wrangler('dataset/cleaned_fraud_dataset.parquet')

In [15]:
df.isna().sum()

TransactionID         0
isFraud               0
TransactionDT         0
TransactionAmt        0
ProductCD             0
                     ..
id_37_missing         0
id_38_missing         0
DeviceType_missing    0
DeviceInfo_missing    0
billing_address       0
Length: 81, dtype: int64

In [34]:
df.columns.tolist()

['TransactionID',
 'isFraud',
 'TransactionDT',
 'TransactionAmt',
 'ProductCD',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'addr1',
 'addr2',
 'dist1',
 'dist2',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D10',
 'D11',
 'D15',
 'billing_address',
 'provider_bucket',
 'fraud_bucket',
 'suffix_bucket',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'DeviceType',
 'DeviceInfo',
 'id_01_missing',
 'id_02_missing',
 'id_03_missing',
 'id_04_missing',
 'id_05_missing',
 'id_06_missing',
 'id_09_missing',
 'id_10_missing',
 'id_11_missing',
 'id_12_missing',
 'id_13_missing',
 'id_14_missing',
 'id_15_missing',
 'id_16_missing',
 'id_17_missing',
 'id_18_missing',
 'id_19_missing',
 'id_20_missing',
 'id_28_missing',
 'id_29_missing',
 'id_30_missing',
 'id_31_missing',
 'id_32_missing',
 'id_33_missing',
 'id_34_missing',
 'id_35_missing',
 'id_36_missing',
 'id_37_missing',
 'id_38_missing',
 'DeviceType_missing',
 'DeviceInfo_missing',
 'billing_address']

# For Identity Dataset

In [16]:
path = "dataset/train_identity.csv"
df = load_dataset(path)

In [19]:
df = handle_identity_missing(df)
print(df.isna().sum())

TransactionID    0
id_01            0
id_02            0
id_03            0
id_04            0
id_05            0
id_06            0
id_09            0
id_10            0
id_11            0
id_12            0
id_13            0
id_14            0
id_15            0
id_16            0
id_17            0
id_18            0
id_19            0
id_20            0
id_28            0
id_29            0
id_30            0
id_31            0
id_32            0
id_33            0
id_34            0
id_35            0
id_36            0
id_37            0
id_38            0
DeviceType       0
DeviceInfo       0
dtype: int64

C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna("missing", inplace=True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)

In [18]:
def handle_identity_missing(
    dataset, 
    drop_threshold = 0.7, 
    impute_categoricals = True, 
    impute_numericals = "median"
):
    """Drop and impute missing values based on rules. (Identity dataset)"""
    start_time = time.perf_counter()
    missing = dataset.isna().mean()
    to_drop = missing[missing >= drop_threshold].index

    if len(to_drop) > 0:
        dataset.drop(columns=to_drop, inplace=True)
        logger.info(f"Dropped {len(to_drop)} feature(s) with >={drop_threshold:.0%} missingness.")

    # impute categoricals
    if impute_categoricals:
        categorical_cols = dataset.select_dtypes(include=["object", "category"]).columns
        for col in categorical_cols:
            if dataset[col].isna().any():
                dataset[col].fillna("missing", inplace=True)
        logger.info("Imputed categorical missing values")

    # impute numericals
    if impute_numericals is not None:
        num_cols = dataset.select_dtypes(include="number").columns
        for col in num_cols:
            if dataset[col].isna().any():
                if impute_numericals == "mean":
                    fill_value = dataset[col].mean()
                elif impute_numericals == "median":
                    fill_value = dataset[col].median()
                else:
                    raise ValueError("Invalid impute_numericals option. Use 'mean', 'median', or None.")
                dataset[col].fillna(fill_value, inplace = True)
        logger.info("Imputed numerical values")
    logger.info(f"Data cleaning completed | Time taken: {(time.perf_counter() - start_time):.2f}s")
    return dataset

In [22]:
# Function for feature engineering
def identity_feature_engineering(dataset, rare_device_info_threshold=200):
    """
    Feature engineering for identity dataset:
      - Bucket rare DeviceInfo values into 'others'
      - Regroup/simplify DeviceInfo categories into broader families

    Parameters
    ----------
    dataset : pd.DataFrame
        The identity dataset.
    rare_device_info_threshold : int, default=200
        Minimum frequency for a DeviceInfo to be kept. 
        Rare categories are replaced with 'others'.

    Returns
    -------
    pd.DataFrame
        Dataset with engineered DeviceInfo.
    """
    
    start_time = time.perf_counter()
    df = dataset.copy()

    # --- Step 1: Handle rare DeviceInfo ---
    device_counts = df['DeviceInfo'].value_counts()
    frequent_devices = device_counts[device_counts >= rare_device_info_threshold].index
    df['DeviceInfo'] = df['DeviceInfo'].where(df['DeviceInfo'].isin(frequent_devices), 'others')

    logger.info(
        f"DeviceInfo engineered: {len(frequent_devices)} frequent categories kept, "
        f"others bucketed into 'others'."
    )
    # --- Step 2: Vectorized regrouping ---
    device_series = df['DeviceInfo'].astype(str)

    conditions = [
        device_series.str.startswith('rv:'),                         # Firefox
        device_series.str.startswith('SM-'),                         # Samsung Galaxy
        device_series.str.startswith('Moto'),                        # Motorola
        device_series.str.contains('Trident/7.0|rv:11.0', regex=True), # IE 11
        device_series.str.contains('Windows', regex=False),          # Windows
        device_series.str.contains('iOS', regex=False),              # iOS Device
        device_series.str.contains('MacOS', regex=False),            # MacOS
        device_series.eq('SAMSUNG'),                                 # Exact Samsung string
    ]
    choices = [
        'Firefox',
        'Samsung',
        'Motorola',
        'Internet Explorer',
        'Windows',
        'iOS Device',
        'MacOS',
        'Samsung'
    ]

    df['DeviceInfo'] = np.select(conditions, choices, default=device_series)

    logger.info(f"DeviceInfo categories simplified. Unique categories: {dataset['DeviceInfo'].nunique()}")
    logger.info(f"Feature Engineering completed. | Time taken: {(time.perf_counter() - start_time):.2f}s")
    return df

In [24]:
# Main data wrangling function
d = identity_feature_engineering(load_dataset('dataset/train_identity.csv'))
d.DeviceInfo.unique()

array(['others', 'iOS Device', 'Windows', 'MacOS', 'Samsung', 'Firefox',
       'Internet Explorer', 'ALE-L23 Build/HuaweiALE-L23', 'Motorola'],
      dtype=object)

In [25]:
# Main data wrangling function (to assemble all components together)
def identity_data_wrangler(
    path_to_dataset,
    drop_threshold=0.7,
    impute_categoricals=True,
    impute_numericals="median",
    feature_engineering_flag=True,
    rare_device_info_threshold=500
):
    """Main entry point for identity dataset wrangling."""
    start_time = time.perf_counter()

    try:
        dataset = load_dataset(path_to_dataset)
        logger.info(f"Loaded dataset | Shape: {dataset.shape} | Load time: {(time.perf_counter() - start_time):.2f}s")

        dataset = handle_duplicates(dataset)
        dataset = handle_identity_missing(dataset, drop_threshold, impute_categoricals, impute_numericals)

        # feature engineering
        if feature_engineering_flag:
            dataset = identity_feature_engineering(dataset, rare_device_info_threshold)

        elapsed = time.perf_counter() - start_time
        logger.info(f"Wrangling completed | Shape: {dataset.shape} | Time: {elapsed:.2f}s")
        return dataset

    except Exception as e:
        raise RuntimeError(f"Failed wrangling {path_to_dataset}: {e}")

In [26]:
df = identity_data_wrangler(path)
df.DeviceInfo.unique()

C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna("missing", inplace=True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)
C:\Users\NEW\AppData\Local\Temp\ipykernel_26456\617817227.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(fill_value, inplace = True)

array(['others', 'iOS Device', 'Windows', 'missing', 'MacOS', 'Samsung',
       'Internet Explorer', 'Firefox'], dtype=object)

In [1]:
import pandas as pd
import numpy as np
from scripts.data_loading import load_dataset
from scripts.modeling.data_prep import prepare_data
from scripts.wranglers import FraudDataWrangler, FraudDatasetMerger
from scripts.modeling.orchestrator import Orchestrator

C:\Users\NEW\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
transaction_df = load_dataset("dataset/train_transaction.csv")
identity_df = load_dataset("dataset/train_identity.csv")

In [5]:
# Handle preprocessing
transaction_df = FraudDataWrangler(dataset_type = "transaction").fit_transform(transaction_df)
identity_df = FraudDataWrangler(dataset_type = "identity").fit_transform(identity_df)

2025-10-08 18:52:50,374 - INFO - No duplicates found!
2025-10-08 18:52:50,964 - INFO - Dropped 168 feature(s) with >=70% missingness.
2025-10-08 18:52:57,106 - INFO - Feature engineering completed. Time taken: 2.54s
2025-10-08 18:52:57,188 - INFO - [transaction] transform() complete | Shape: (590540, 230) | Time: 7.18s
2025-10-08 18:52:57,211 - INFO - No duplicates found!
2025-10-08 18:52:57,284 - INFO - Dropped 9 feature(s) with >=70% missingness.
2025-10-08 18:52:57,416 - INFO - Imputed categorical missing values
2025-10-08 18:52:57,457 - INFO - Imputed numerical values
2025-10-08 18:52:57,458 - INFO - Data cleaning completed | Time taken: 0.25s
2025-10-08 18:52:57,507 - INFO - DeviceInfo engineered: 24 frequent categories kept, others bucketed into 'others'.
2025-10-08 18:52:57,629 - INFO - DeviceInfo categories simplified. Unique categories: 10
2025-10-08 18:52:57,630 - INFO - Feature Engineering completed. | Time taken: 0.17s
2025-10-08 18:52:57,637 - INFO - [identity] transform() complete | Shape: (144233, 32) | Time: 0.45s

In [13]:
target_cols = [f"id_{i}" for i in range(12, 39)]
existing_cols = [col for col in target_cols if col in identity_df.columns]

print(existing_cols)

['id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38']

In [24]:
transaction_df.select_dtypes(include=['object', 'category'])

,ProductCD,card4,card6,M1,M2,M3,M4,M5,M6,M7,M8,M9,billing_address,provider,suffix,provider_bucket,fraud_bucket
0,W,discover,credit,T,T,T,M2,F,T,missing,missing,missing,315.0_87.0,missing,missing,missing,low
1,W,mastercard,credit,missing,missing,missing,M0,T,T,missing,missing,missing,325.0_87.0,gmail,com,gmail,medium
2,W,visa,debit,T,T,T,M0,F,F,F,F,F,330.0_87.0,outlook,com,outlook,medium
3,W,mastercard,debit,missing,missing,missing,M0,T,F,missing,missing,missing,476.0_87.0,yahoo,com,yahoo,low
4,H,mastercard,credit,missing,missing,missing,missing,missing,missing,missing,missing,missing,420.0_87.0,gmail,com,gmail,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,W,visa,debit,T,T,T,M0,T,F,F,F,T,272.0_87.0,missing,missing,missing,low
590536,W,mastercard,debit,T,F,F,M0,F,T,F,F,F,204.0_87.0,gmail,com,gmail,medium
590537,W,mastercard,debit,T,F,F,missing,missing,T,missing,missing,missing,231.0_87.0,gmail,com,gmail,medium
590538,W,mastercard,debit,T,T,T,M0,F,T,missing,missing,missing,387.0_87.0,aol,com,aol,low
590539,W,mastercard,credit,T,F,F,missing,missing,T,F,F,F,299.0_87.0,gmail,com,gmail,medium

In [21]:
identity_df.select_dtypes(include = ['object', 'category'])

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,NotFound,New,NotFound,New,NotFound,Android 7.0,samsung browser 6.2,2220x1080,match_status:2,T,F,T,T,mobile,others
1,NotFound,New,NotFound,New,NotFound,iOS 11.1.2,mobile safari 11.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,NotFound,Found,Found,Found,Found,missing,chrome 62.0,missing,missing,F,F,T,T,desktop,Windows
3,NotFound,New,NotFound,New,NotFound,missing,chrome 62.0,missing,missing,F,F,T,T,desktop,missing
4,NotFound,Found,Found,Found,Found,Mac OS X 10_11_6,chrome 62.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,NotFound,Found,Found,Found,Found,missing,chrome 66.0 for android,missing,missing,F,F,T,F,mobile,others
144229,NotFound,New,NotFound,New,NotFound,Android 7.1.1,chrome 55.0 for android,855x480,match_status:2,T,F,T,F,mobile,others
144230,NotFound,New,NotFound,New,NotFound,missing,chrome 65.0 for android,missing,missing,F,F,T,F,mobile,others
144231,NotFound,Found,Found,Found,Found,Mac OS X 10_9_5,chrome 66.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS
144232,NotFound,New,NotFound,New,NotFound,missing,chrome 66.0 for android,missing,missing,F,F,T,F,mobile,others

In [20]:
identity_df[existing_cols].select_dtypes(include = ['object', 'category'])

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38
0,NotFound,New,NotFound,New,NotFound,Android 7.0,samsung browser 6.2,2220x1080,match_status:2,T,F,T,T
1,NotFound,New,NotFound,New,NotFound,iOS 11.1.2,mobile safari 11.0,1334x750,match_status:1,T,F,F,T
2,NotFound,Found,Found,Found,Found,missing,chrome 62.0,missing,missing,F,F,T,T
3,NotFound,New,NotFound,New,NotFound,missing,chrome 62.0,missing,missing,F,F,T,T
4,NotFound,Found,Found,Found,Found,Mac OS X 10_11_6,chrome 62.0,1280x800,match_status:2,T,F,T,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,NotFound,Found,Found,Found,Found,missing,chrome 66.0 for android,missing,missing,F,F,T,F
144229,NotFound,New,NotFound,New,NotFound,Android 7.1.1,chrome 55.0 for android,855x480,match_status:2,T,F,T,F
144230,NotFound,New,NotFound,New,NotFound,missing,chrome 65.0 for android,missing,missing,F,F,T,F
144231,NotFound,Found,Found,Found,Found,Mac OS X 10_9_5,chrome 66.0,2560x1600,match_status:2,T,F,T,F
144232,NotFound,New,NotFound,New,NotFound,missing,chrome 66.0 for android,missing,missing,F,F,T,F

In [31]:
target_cols = identity_df.select_dtypes(include=['object', 'category']).columns.tolist()
encoding_map = {}

for col in target_cols:
    unique_values = identity_df[col].unique()
    encoding_map[col] = {val:idx for idx, val in enumerate(unique_values)}

In [34]:
for col, mapping in encoding_map.items():
    identity_df[col] = identity_df[col].map(mapping)

identity_df[target_cols]

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,1,1,0,0,1,0,0,1
2,0,1,1,1,1,2,2,2,2,1,0,0,0,1,2
3,0,0,0,0,0,2,2,2,2,1,0,0,0,1,3
4,0,1,1,1,1,3,2,3,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,0,1,1,1,1,2,114,2,2,1,0,0,2,0,0
144229,0,0,0,0,0,22,33,28,0,0,0,0,2,0,0
144230,0,0,0,0,0,2,107,2,2,1,0,0,2,0,0
144231,0,1,1,1,1,12,113,11,0,0,0,0,2,1,4
144232,0,0,0,0,0,2,114,2,2,1,0,0,2,0,0

In [ ]:
# Merge datasets
merged_df = FraudDatasetMerger(joint_type = "left").fit_transform((transaction_df, identity_df))

In [36]:
target_cols = transaction_df.select_dtypes(include=['object', 'category']).columns.tolist()
encoding_map = {}

for col in target_cols:
    unique_values = transaction_df[col].unique()
    encoding_map[col] = {val:idx for idx, val in enumerate(unique_values)}

for col, mapping in encoding_map.items():
    transaction_df[col] = transaction_df[col].map(mapping)

transaction_df[target_cols]

,ProductCD,card4,card6,M1,M2,M3,M4,M5,M6,M7,M8,M9,billing_address,provider,suffix,provider_bucket,fraud_bucket
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,1,1,1,1,0,0,0,0,1,1,1,1,1
2,0,2,1,0,0,0,1,0,1,1,1,1,2,2,1,2,1
3,0,1,1,1,1,1,1,1,1,0,0,0,3,3,1,3,0
4,1,1,0,1,1,1,2,2,2,0,0,0,4,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,0,2,1,0,0,0,1,1,1,1,1,2,5,0,0,0,0
590536,0,1,1,0,2,2,1,0,0,1,1,1,8,1,1,1,1
590537,0,1,1,0,2,2,2,2,0,0,0,0,26,1,1,1,1
590538,0,1,1,0,0,0,1,0,0,0,0,0,24,8,1,8,0
590539,0,1,0,0,2,2,2,2,0,1,1,1,14,1,1,1,1

In [37]:
# for transaction dataset
def trans_feature_engineering(dataset, rare_provider_threshold=500):
    """Engineer fraud-related and domain features."""
    start_time = time.perf_counter()
    new_features = pd.DataFrame(index=dataset.index)

    # billing address
    if "addr1" in dataset.columns and "addr2" in dataset.columns:
        new_features["billing_address"] = dataset["addr1"].astype(str) + "_" + dataset["addr2"].astype(str)

    # email provider features
    if "P_emaildomain" in dataset.columns:
        new_features["provider"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[0] if x != "missing" else "missing"
        )
        new_features["suffix"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[-1] if x != "missing" else "missing"
        )

        provider_counts = new_features["provider"].value_counts()
        new_features["provider_bucket"] = new_features["provider"].apply(
            lambda x: x if provider_counts[x] >= rare_provider_threshold else "rare"
        )

    dataset = pd.concat([dataset, new_features], axis=1)

    # fraud bucket per domain
    if "P_emaildomain" in dataset.columns and "isFraud" in dataset.columns:
        fraud_stats = dataset.groupby("P_emaildomain")["isFraud"].agg(["mean", "count"]).reset_index()
        fraud_stats["fraud_bucket"] = pd.cut(
            fraud_stats["mean"], bins=[-1, 0.03, 0.10, 1], labels=["low", "medium", "high"]
        ).astype(str)

        dataset = dataset.merge(
            fraud_stats[["P_emaildomain", "fraud_bucket"]],
            on="P_emaildomain", how="left"
        )

        dataset.drop(columns=["P_emaildomain"], inplace=True)

    # encode categorical variables
    target_cols = dataset.select_dtypes(include=['object', 'category']).columns.tolist()
    encoding_map = {}
    
    for col in target_cols:
        unique_values = dataset[col].unique()
        encoding_map[col] = {val:idx for idx, val in enumerate(unique_values)}

    for col, mapping in encoding_map.items():
        dataset[col] = dataset[col].map(mapping)
    
    logger.info(f"Feature engineering completed. Time taken: {(time.perf_counter() - start_time):.2f}s")
    return dataset

In [39]:
import time
trans_feature_engineering(transaction_df)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [42]:
import pandas as pd
import numpy as np
import logging
import time

# Configure logger
logging.basicConfig(
    level = logging.INFO,
    format = "%(asctime)s - %(levelname)s - %(message)s",
    handlers = [
        logging.StreamHandler(),
        logging.FileHandler("pipeline.log", mode = "a")
    ]
)
logger = logging.getLogger(__name__)

In [58]:
# Function for feature engineering
def identity_feature_engineering(dataset, rare_device_info_threshold=200):
    """
    Feature engineering for identity dataset:
      - Bucket rare DeviceInfo values into 'others'
      - Regroup/simplify DeviceInfo categories into broader families

    Parameters
    ----------
    dataset : pd.DataFrame
        The identity dataset.
    rare_device_info_threshold : int, default=200
        Minimum frequency for a DeviceInfo to be kept. 
        Rare categories are replaced with 'others'.

    Returns
    -------
    pd.DataFrame
        Dataset with engineered DeviceInfo.
    """
    
    start_time = time.perf_counter()
    df = dataset.copy()

    # --- Step 1: Handle rare DeviceInfo ---
    if 'DeviceInfo' in df.columns:
        device_counts = df['DeviceInfo'].value_counts()
        frequent_devices = device_counts[device_counts >= rare_device_info_threshold].index
        df['DeviceInfo'] = df['DeviceInfo'].where(df['DeviceInfo'].isin(frequent_devices), 'others')
    
        logger.info(
            f"DeviceInfo engineered: {len(frequent_devices)} frequent categories kept, "
            f"others bucketed into 'others'."
        )
        # --- Step 2: Vectorized regrouping ---
        device_series = df['DeviceInfo'].astype(str)
    
        conditions = [
            device_series.str.startswith('rv:'),                         # Firefox
            device_series.str.startswith('SM-'),                         # Samsung Galaxy
            device_series.str.startswith('Moto'),                        # Motorola
            device_series.str.contains('Trident/7.0|rv:11.0', regex=True), # IE 11
            device_series.str.contains('Windows', regex=False),          # Windows
            device_series.str.contains('iOS', regex=False),              # iOS Device
            device_series.str.contains('MacOS', regex=False),            # MacOS
            device_series.eq('SAMSUNG'),                                 # Exact Samsung string
        ]
        choices = [
            'Firefox',
            'Samsung',
            'Motorola',
            'Internet Explorer',
            'Windows',
            'iOS Device',
            'MacOS',
            'Samsung'
        ]
    
        df['DeviceInfo'] = np.select(conditions, choices, default=device_series)

    logger.info(f"DeviceInfo categories simplified. Unique categories: {df['DeviceInfo'].nunique()}")

    # encode categorical variables
    target_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
    encoding_map = {}
    
    for col in target_cols:
        unique_values = df[col].unique()
        encoding_map[col] = {val:idx for idx, val in enumerate(unique_values)}

    for col, mapping in encoding_map.items():
        df[col] = df[col].map(mapping)
    
    logger.info(f"Feature Engineering completed. | Time taken: {(time.perf_counter() - start_time):.2f}s")
    return df

In [59]:
identity_feature_engineering(identity_df)

2025-10-09 00:06:50,808 - INFO - DeviceInfo engineered: 10 frequent categories kept, others bucketed into 'others'.
2025-10-09 00:06:50,940 - INFO - DeviceInfo categories simplified. Unique categories: 10
2025-10-09 00:06:50,954 - INFO - Feature Engineering completed. | Time taken: 0.16s

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_09,id_10,id_11,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,0,32.0,0,0,0,0,0,0,0,0
1,2987008,-5.0,98945.0,0.0,0.0,0.0,-5.0,0.0,0.0,100.0,...,1,32.0,1,1,0,0,1,0,0,1
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,2,24.0,2,2,1,0,0,0,1,2
3,2987011,-5.0,221832.0,0.0,0.0,0.0,-6.0,0.0,0.0,100.0,...,2,24.0,2,2,1,0,0,0,1,3
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,0.0,0.0,100.0,...,2,24.0,3,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,114,24.0,2,2,1,0,0,2,0,0
144229,3577526,-5.0,172059.0,0.0,0.0,1.0,-5.0,0.0,0.0,100.0,...,33,32.0,28,0,0,0,0,2,0,0
144230,3577529,-20.0,632381.0,0.0,0.0,-1.0,-36.0,0.0,0.0,100.0,...,107,24.0,2,2,1,0,0,2,0,0
144231,3577531,-5.0,55528.0,0.0,0.0,0.0,-7.0,0.0,0.0,100.0,...,113,24.0,11,0,0,0,0,2,1,4
144232,3577534,-45.0,339406.0,0.0,0.0,-10.0,-100.0,0.0,0.0,100.0,...,114,24.0,2,2,1,0,0,2,0,0

In [45]:
trans_feature_engineering(transaction_df)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [44]:
identity_feature_engineering(identity_df)

2025-10-08 20:40:36,171 - INFO - DeviceInfo engineered: 10 frequent categories kept, others bucketed into 'others'.
2025-10-08 20:40:36,306 - INFO - DeviceInfo categories simplified. Unique categories: 10
2025-10-08 20:40:36,318 - INFO - Feature Engineering completed. | Time taken: 0.16s

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_09,id_10,id_11,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,0,32.0,0,0,0,0,0,0,0,0
1,2987008,-5.0,98945.0,0.0,0.0,0.0,-5.0,0.0,0.0,100.0,...,1,32.0,1,1,0,0,1,0,0,1
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,2,24.0,2,2,1,0,0,0,1,2
3,2987011,-5.0,221832.0,0.0,0.0,0.0,-6.0,0.0,0.0,100.0,...,2,24.0,2,2,1,0,0,0,1,3
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,0.0,0.0,100.0,...,2,24.0,3,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,114,24.0,2,2,1,0,0,2,0,0
144229,3577526,-5.0,172059.0,0.0,0.0,1.0,-5.0,0.0,0.0,100.0,...,33,32.0,28,0,0,0,0,2,0,0
144230,3577529,-20.0,632381.0,0.0,0.0,-1.0,-36.0,0.0,0.0,100.0,...,107,24.0,2,2,1,0,0,2,0,0
144231,3577531,-5.0,55528.0,0.0,0.0,0.0,-7.0,0.0,0.0,100.0,...,113,24.0,11,0,0,0,0,2,1,4
144232,3577534,-45.0,339406.0,0.0,0.0,-10.0,-100.0,0.0,0.0,100.0,...,114,24.0,2,2,1,0,0,2,0,0

In [46]:
def trans_feature_engineering(dataset: pd.DataFrame, rare_provider_threshold: int = 500):
    """Engineer fraud-related and domain features and factorize categorical columns.

    Notes:
    - Uses pd.factorize for fast, vectorized integer encoding.
    - If duplicate column names exist, keeps the first occurrence (logs a warning).
    - Missing values receive code -1 (pd.factorize default na_sentinel).
    """
    start_time = time.perf_counter()
    new_features = pd.DataFrame(index=dataset.index)

    # billing address
    if "addr1" in dataset.columns and "addr2" in dataset.columns:
        new_features["billing_address"] = dataset["addr1"].astype(str) + "_" + dataset["addr2"].astype(str)

    # email provider features
    if "P_emaildomain" in dataset.columns:
        new_features["provider"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[0] if pd.notna(x) and x != "missing" else "missing"
        )
        new_features["suffix"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[-1] if pd.notna(x) and x != "missing" else "missing"
        )

        provider_counts = new_features["provider"].value_counts()
        new_features["provider_bucket"] = new_features["provider"].apply(
            lambda x: x if provider_counts.get(x, 0) >= rare_provider_threshold else "rare"
        )

    # concat new features in one shot (avoids fragmentation warnings)
    dataset = pd.concat([dataset, new_features], axis=1)

    # fraud bucket per domain (depends on isFraud)
    if "P_emaildomain" in dataset.columns and "isFraud" in dataset.columns:
        fraud_stats = dataset.groupby("P_emaildomain")["isFraud"].agg(["mean", "count"]).reset_index()
        fraud_stats["fraud_bucket"] = pd.cut(
            fraud_stats["mean"], bins=[-1, 0.03, 0.10, 1], labels=["low", "medium", "high"]
        ).astype(str)

        dataset = dataset.merge(
            fraud_stats[["P_emaildomain", "fraud_bucket"]],
            on="P_emaildomain",
            how="left"
        )
        # drop original domain column after merging
        dataset.drop(columns=["P_emaildomain"], inplace=True, errors="ignore")

    # ---- Defensive: handle duplicate column names (keep first occurrence) ----
    if dataset.columns.duplicated().any():
        dup_cols = dataset.columns[dataset.columns.duplicated()].unique().tolist()
        logger.warning("Duplicate column names detected and will be deduplicated (keeping first occurrence): %s", dup_cols)
        # Keep only the first occurrence of duplicate column names
        dataset = dataset.loc[:, ~dataset.columns.duplicated()]

    # ---- Encode / factorize categorical columns (fast & safe) ----
    cat_cols = dataset.select_dtypes(include=["object", "category"]).columns.tolist()
    encoding_map = {}

    for col in cat_cols:
        # ensure we're dealing with a Series
        col_series = dataset[col]
        # pd.factorize returns (codes, uniques); codes use -1 for NaN by default
        codes, uniques = pd.factorize(col_series, na_sentinel=-1)
        dataset[col] = codes  # assign integer codes (dtype=np.int64 with -1 for missing)

        # build a JSON-friendly mapping for this column (uniques excludes NaN)
        # store list of uniques in order (index -> value). Missing is represented by -1.
        encoding_map[col] = {
            "mapping_type": "factorize",
            "uniques": uniques.tolist(),   # uniques[i] -> code i ; missing -> -1
            "missing_code": -1
        }

    elapsed = time.perf_counter() - start_time
    logger.info("Feature engineering completed. Time taken: %.2f s", elapsed)
    # if you want to return encoding_map as well, you can return (dataset, encoding_map)
    return dataset

In [48]:
df = trans_feature_engineering(transaction_df)

2025-10-08 21:08:17,025 - WARNING - Duplicate column names detected and will be deduplicated (keeping first occurrence): ['billing_address']
2025-10-08 21:08:17,201 - INFO - Feature engineering completed. Time taken: 0.73 s

In [51]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V317,V318,V319,V320,V321,billing_address,provider,suffix,provider_bucket,fraud_bucket
0,2987000,0,86400,68.5,0,13926,-1.0,150.0,0,142.0,...,117.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,2987001,0,86401,29.0,0,2755,404.0,150.0,1,102.0,...,0.0,0.0,0.0,0.0,0.0,1,1,1,1,1
2,2987002,0,86469,59.0,0,4663,490.0,150.0,2,166.0,...,0.0,0.0,0.0,0.0,0.0,2,2,1,2,1
3,2987003,0,86499,50.0,0,18132,567.0,150.0,1,117.0,...,1404.0,790.0,0.0,0.0,0.0,3,3,1,3,0
4,2987004,0,86506,50.0,1,4497,514.0,150.0,1,102.0,...,0.0,0.0,0.0,0.0,0.0,4,1,1,1,1

In [50]:
df.billing_address.unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437])

In [56]:
cat_cols = transaction_df.select_dtypes(include=["object", "category"]).columns.tolist()
encoding_map = {}

for col in cat_cols:
    # ensure we're dealing with a Series
    col_series = dataset[col]
    print('*' * 45)
    print(col_series)

In [64]:
def trans_feature_engineering(dataset: pd.DataFrame, rare_provider_threshold: int = 500):
    """Engineer fraud-related and domain features and factorize categorical columns.

    Notes:
    - Uses pd.factorize for fast, vectorized integer encoding.
    - If duplicate column names exist, keeps the first occurrence (logs a warning).
    - Missing values receive code -1 (pd.factorize default na_sentinel).
    """
    start_time = time.perf_counter()
    new_features = pd.DataFrame(index=dataset.index)

    # billing address
    if "addr1" in dataset.columns and "addr2" in dataset.columns:
        new_features["billing_address"] = dataset["addr1"].astype(str) + "_" + dataset["addr2"].astype(str)

    # email provider features
    if "P_emaildomain" in dataset.columns:
        new_features["provider"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[0] if pd.notna(x) and x != "missing" else "missing"
        )
        new_features["suffix"] = dataset["P_emaildomain"].apply(
            lambda x: x.split(".")[-1] if pd.notna(x) and x != "missing" else "missing"
        )

        provider_counts = new_features["provider"].value_counts()
        new_features["provider_bucket"] = new_features["provider"].apply(
            lambda x: x if provider_counts.get(x, 0) >= rare_provider_threshold else "rare"
        )

    # concat new features in one shot (avoids fragmentation warnings)
    dataset = pd.concat([dataset, new_features], axis=1)

    # fraud bucket per domain (depends on isFraud)
    if "P_emaildomain" in dataset.columns and "isFraud" in dataset.columns:
        fraud_stats = dataset.groupby("P_emaildomain")["isFraud"].agg(["mean", "count"]).reset_index()
        fraud_stats["fraud_bucket"] = pd.cut(
            fraud_stats["mean"], bins=[-1, 0.03, 0.10, 1], labels=["low", "medium", "high"]
        ).astype(str)

        dataset = dataset.merge(
            fraud_stats[["P_emaildomain", "fraud_bucket"]],
            on="P_emaildomain",
            how="left"
        )
        # drop original domain column after merging
        dataset.drop(columns=["P_emaildomain"], inplace=True, errors="ignore")

    # ---- Defensive: handle duplicate column names (keep first occurrence) ----
    if dataset.columns.duplicated().any():
        dup_cols = dataset.columns[dataset.columns.duplicated()].unique().tolist()
        logger.warning("Duplicate column names detected and will be deduplicated (keeping first occurrence): %s", dup_cols)
        # Keep only the first occurrence of duplicate column names
        dataset = dataset.loc[:, ~dataset.columns.duplicated()]

    # ---- Encode / factorize categorical columns (fast & safe) ----
    cat_cols = dataset.select_dtypes(include=["object", "category"]).columns.tolist()
    encoding_map = {}

    for col in cat_cols:
        # ensure we're dealing with a Series
        col_series = dataset[col]
        # pd.factorize returns (codes, uniques); codes use -1 for NaN by default
        codes, uniques = pd.factorize(col_series, na_sentinel=-1)
        dataset[col] = codes  # assign integer codes (dtype=np.int64 with -1 for missing)

        # build a JSON-friendly mapping for this column (uniques excludes NaN)
        # store list of uniques in order (index -> value). Missing is represented by -1.
        encoding_map[col] = {
            "mapping_type": "factorize",
            "uniques": uniques.tolist(),   # uniques[i] -> code i ; missing -> -1
            "missing_code": -1
        }

    elapsed = time.perf_counter() - start_time
    logger.info("Feature engineering completed. Time taken: %.2f s", elapsed)
    # if you want to return encoding_map as well, you can return (dataset, encoding_map)
    return dataset

In [65]:
trans_feature_engineering(transaction_df)

2025-10-09 00:12:02,099 - WARNING - Duplicate column names detected and will be deduplicated (keeping first occurrence): ['billing_address']
2025-10-09 00:12:02,284 - INFO - Feature engineering completed. Time taken: 0.72 s

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V317,V318,V319,V320,V321,billing_address,provider,suffix,provider_bucket,fraud_bucket
0,2987000,0,86400,68.50,0,13926,-1.0,150.0,0,142.0,...,117.0,0.0,0.000000,0.000000,0.000000,0,0,0,0,0
1,2987001,0,86401,29.00,0,2755,404.0,150.0,1,102.0,...,0.0,0.0,0.000000,0.000000,0.000000,1,1,1,1,1
2,2987002,0,86469,59.00,0,4663,490.0,150.0,2,166.0,...,0.0,0.0,0.000000,0.000000,0.000000,2,2,1,2,1
3,2987003,0,86499,50.00,0,18132,567.0,150.0,1,117.0,...,1404.0,790.0,0.000000,0.000000,0.000000,3,3,1,3,0
4,2987004,0,86506,50.00,1,4497,514.0,150.0,1,102.0,...,0.0,0.0,0.000000,0.000000,0.000000,4,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,0,6550,-1.0,150.0,2,226.0,...,0.0,0.0,0.000000,0.000000,0.000000,5,0,0,0,0
590536,3577536,0,15811049,39.50,0,10444,225.0,150.0,1,224.0,...,0.0,0.0,0.000000,0.000000,0.000000,8,1,1,1,1
590537,3577537,0,15811079,30.95,0,12037,595.0,150.0,1,224.0,...,0.0,0.0,0.000000,0.000000,0.000000,26,1,1,1,1
590538,3577538,0,15811088,117.00,0,7826,481.0,150.0,1,224.0,...,2234.0,0.0,0.000000,0.000000,0.000000,24,8,1,8,0
590539,3577539,0,15811131,279.95,0,15066,170.0,150.0,1,102.0,...,0.0,0.0,279.950012,279.950012,279.950012,14,1,1,1,1

In [80]:
def encode_categorical_features(dataset: pd.DataFrame) -> pd.DataFrame:
    """
    Encode all categorical (object/category) columns in the dataset using integer factorization.

    Args:
        dataset (pd.DataFrame): Input dataset.

    Returns:
        pd.DataFrame: Dataset with categorical features encoded as integers.
    """
    start = time.perf_counter()

    # handle duplicate columns
    if dataset.columns.duplicated().any():
        dup_cols = dataset.columns[dataset.columns.duplicated()].unique().tolist()
        logger.warning(f"Duplicate columns detected and will be deduplicated: {dup_cols}")
        dataset = dataset.loc[:, ~dataset.columns.duplicated()]

    cat_cols = dataset.select_dtypes(include=["object", "category"]).columns.tolist()
    if not cat_cols:
        logger.info("No categorical feature found for encoding.")
        return dataset
        
    for col in cat_cols:
        col_series = dataset[col]
        codes, uniques = pd.factorize(col_series)
        dataset[col] = codes
        logger.info(f"Encoded `{col}` with {len(uniques)} unique values.")

        
    logger.info(f"Encoding categorical columns completed. | Time taken: {time.perf_counter() - start:.2f}s")
    return dataset

In [66]:
# Function to encode categorical features
def encode_categorical_features(dataset):
    """
    Encode categorical features of given datasets automatically.
    """
    cat_cols = dataset.select_dtypes(include = ["object", "category"]).columns.tolist()
    encoding_map = {}

    for col in cat_cols:
        col_series = dataset[col]

        codes, uniques = pd.factorize(col_series)
        dataset[col] = codes

        encoding_map[col] = {
            "mapping_type": "factorize",
            "uniques": uniques.tolist()
        }

    return dataset

In [76]:
encode_categorical_features(transaction_df)

2025-10-09 00:46:57,586 - INFO - Encoded 0 categorical columns in 0.00s

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,0,NaN,-1,-1,0,0,0,0,0,0
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,0,24.0,0,0,1,0,0,1,0,1
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,1,NaN,-1,-1,0,1,0,0,1,2
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,0,NaN,-1,-1,0,0,0,0,0,0
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,0,NaN,-1,-1,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141902,4170230,-20.0,473365.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,126,NaN,-1,-1,0,0,0,0,0,1305
141903,4170233,-5.0,489917.0,0.0,0.0,-4.0,-32.0,NaN,NaN,0.0,...,126,NaN,-1,-1,0,0,0,0,0,1631
141904,4170234,-5.0,110081.0,NaN,NaN,22.0,-31.0,NaN,NaN,NaN,...,5,32.0,4,0,1,0,1,1,0,4
141905,4170236,-45.0,266704.0,NaN,NaN,-3.0,-10.0,NaN,NaN,NaN,...,75,NaN,-1,-1,0,0,0,0,0,172
141906,4170239,-10.0,692090.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,132,NaN,-1,-1,0,0,0,0,0,26

In [81]:
transaction_df = load_dataset("dataset/test_identity.csv")

encode_categorical_features(transaction_df)

2025-10-09 00:51:00,389 - INFO - Encoded `id-12` with 2 unique values.
2025-10-09 00:51:00,398 - INFO - Encoded `id-15` with 3 unique values.
2025-10-09 00:51:00,405 - INFO - Encoded `id-16` with 2 unique values.
2025-10-09 00:51:00,409 - INFO - Encoded `id-23` with 3 unique values.
2025-10-09 00:51:00,412 - INFO - Encoded `id-27` with 2 unique values.
2025-10-09 00:51:00,420 - INFO - Encoded `id-28` with 2 unique values.
2025-10-09 00:51:00,427 - INFO - Encoded `id-29` with 2 unique values.
2025-10-09 00:51:00,434 - INFO - Encoded `id-30` with 86 unique values.
2025-10-09 00:51:00,442 - INFO - Encoded `id-31` with 135 unique values.
2025-10-09 00:51:00,449 - INFO - Encoded `id-33` with 390 unique values.
2025-10-09 00:51:00,455 - INFO - Encoded `id-34` with 2 unique values.
2025-10-09 00:51:00,460 - INFO - Encoded `id-35` with 2 unique values.
2025-10-09 00:51:00,466 - INFO - Encoded `id-36` with 2 unique values.
2025-10-09 00:51:00,472 - INFO - Encoded `id-37` with 2 unique values.
2025-10-09 00:51:00,477 - INFO - Encoded `id-38` with 2 unique values.
2025-10-09 00:51:00,484 - INFO - Encoded `DeviceType` with 2 unique values.
2025-10-09 00:51:00,493 - INFO - Encoded `DeviceInfo` with 2226 unique values.
2025-10-09 00:51:00,494 - INFO - Encoding categorical columns completed. | Time taken: 0.12s

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,0,NaN,-1,-1,0,0,0,0,0,0
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,0,24.0,0,0,1,0,0,1,0,1
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,1,NaN,-1,-1,0,1,0,0,1,2
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,0,NaN,-1,-1,0,0,0,0,0,0
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,0,NaN,-1,-1,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141902,4170230,-20.0,473365.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,126,NaN,-1,-1,0,0,0,0,0,1305
141903,4170233,-5.0,489917.0,0.0,0.0,-4.0,-32.0,NaN,NaN,0.0,...,126,NaN,-1,-1,0,0,0,0,0,1631
141904,4170234,-5.0,110081.0,NaN,NaN,22.0,-31.0,NaN,NaN,NaN,...,5,32.0,4,0,1,0,1,1,0,4
141905,4170236,-45.0,266704.0,NaN,NaN,-3.0,-10.0,NaN,NaN,NaN,...,75,NaN,-1,-1,0,0,0,0,0,172
141906,4170239,-10.0,692090.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,132,NaN,-1,-1,0,0,0,0,0,26